In [5]:
import numpy as np
import pandas as pd

# E-Commerce Data Analysis Project
## Online Retail Dataset Analysis

---

## ðŸ“Š Dataset Information

**Dataset:** Online Retail Dataset  



---

## ðŸŽ¯ Project Tasks

### **PART A: Initial Data Exploration**

**Task 1:** Load the dataset and display basic information about its structure.

**Task 2:** Show the first 15 and last 15 records.

**Task 3:** Display a random sample of 20 transactions.

**Task 4:** Find out how many rows and columns are in the dataset.

**Task 5:** List all column names.

**Task 6:** Check the data type of each column.

**Task 7:** Get a statistical summary of all numerical columns.

---

### **PART B: Data Quality Assessment**

**Task 8:** Identify which columns have missing values and how many.

**Task 9:** Find out how many transactions have missing CustomerID.

**Task 10:** Check if there are any duplicate rows in the dataset.

**Task 11:** Identify transactions where Quantity is less than or equal to zero.

**Task 12:** Find transactions where UnitPrice is zero or negative.

**Task 13:** Identify how many invoice numbers start with the letter 'C'.

**Task 14:** Check if the Description column has any leading or trailing spaces.

---

### **PART C: Data Cleaning**

**Task 15:** Remove all rows where CustomerID is missing.

**Task 16:** For missing product descriptions, fill them with "Unknown Product".

**Task 17:** Remove all duplicate transactions.

**Task 18:** Remove transactions where Quantity is less than or equal to zero.

**Task 19:** Remove transactions where UnitPrice is less than or equal to zero.

**Task 20:** Remove all cancelled transactions (invoices starting with 'C').

**Task 21:** Change the column name "Description" to "ProductName".

**Task 22:** Ensure the InvoiceDate column is in proper date-time format.

**Task 23:** Convert CustomerID to integer type.

**Task 24:** Reset the index after all cleaning operations.

---

### **PART D: Feature Creation**

**Task 25:** Create a new column called "TotalPrice" that represents the total value of each transaction.

**Task 26:** Extract the year from InvoiceDate and store it in a new column "Year".

**Task 27:** Extract the month from InvoiceDate and store it in a new column "Month".

**Task 28:** Extract the day from InvoiceDate and store it in a new column "Day".

**Task 29:** Extract the hour from InvoiceDate and store it in a new column "Hour".

**Task 30:** Create a column "DayOfWeek" showing which day of the week the transaction occurred.

**Task 31:** Create a column "Quarter" showing which quarter (Q1, Q2, Q3, Q4) the transaction belongs to.

**Task 32:** Create a column "RevenueCategory" with three levels:
- "Low" for transactions under Â£10
- "Medium" for transactions between Â£10 and Â£100
- "High" for transactions above Â£100

**Task 33:** Create a column "OrderSize" with three levels:
- "Small" for Quantity less than 5
- "Medium" for Quantity between 5 and 20
- "Large" for Quantity greater than 20

**Task 34:** Create a column that shows the length of each product name.

---

### **PART E: Text Data Processing**

**Task 35:** Convert all product names to uppercase.

**Task 36:** Remove any extra spaces from the Country column.

**Task 37:** Find all products that contain the word "BAG" in their name.

**Task 38:** Find all products whose names start with "WHITE".

**Task 39:** Find all products whose names end with "HOLDER".

**Task 40:** Replace "United Kingdom" with "UK" in the Country column.

**Task 41:** Replace "EIRE" with "Ireland" in the Country column.

---

### **PART F: Data Selection and Filtering**

**Task 42:** Select only the columns: InvoiceNo, ProductName, Quantity, UnitPrice, Country.

**Task 43:** Display transactions from Germany only.

**Task 44:** Display transactions where Quantity is greater than 50.

**Task 45:** Display transactions where UnitPrice is between Â£5 and Â£10.

**Task 46:** Display transactions from France with Quantity greater than 20.

**Task 47:** Display transactions from December 2010.

**Task 48:** Display transactions that occurred on weekends.

**Task 49:** Display the top 10 transactions by TotalPrice.

**Task 50:** Display the bottom 15 transactions by TotalPrice.

**Task 51:** Find all transactions from either UK, Germany, or France.

**Task 52:** Find transactions where TotalPrice is above the 95th percentile.

---

### **PART G: Sorting Operations**

**Task 53:** Sort the entire dataset by InvoiceDate in ascending order.

**Task 54:** Sort the dataset by TotalPrice in descending order.

**Task 55:** Sort by Country (ascending) and then by TotalPrice (descending).

**Task 56:** Find the 20 highest-value transactions.

**Task 57:** Find the 20 lowest-value transactions (excluding returns).

---

### **PART H: Aggregation and Summary Statistics**

**Task 58:** Calculate the total revenue generated across all transactions.

**Task 59:** Calculate the average transaction value.

**Task 60:** Find the maximum and minimum transaction values.

**Task 61:** Calculate the total number of unique customers.

**Task 62:** Calculate the total number of unique products sold.

**Task 63:** Find out how many unique countries are represented in the data.

**Task 64:** Calculate the average number of items per transaction.

**Task 65:** Find which product appears most frequently in transactions.

---

### **PART I: Country-wise Analysis**

**Task 66:** Calculate total revenue for each country.

**Task 67:** Find the top 10 countries by total revenue.

**Task 68:** Calculate the number of transactions per country.

**Task 69:** Calculate the average transaction value for each country.

**Task 70:** Find which country has the highest average order value.

**Task 71:** Calculate the total quantity of products sold to each country.

**Task 72:** Find the country with the most unique customers.

---

### **PART J: Time-based Analysis**

**Task 73:** Calculate total revenue for each month.

**Task 74:** Find which month had the highest sales.

**Task 75:** Calculate revenue for each quarter.

**Task 76:** Calculate the number of transactions per day of the week.

**Task 77:** Find which day of the week has the highest average revenue.

**Task 78:** Calculate hourly sales patterns (revenue by hour of day).

**Task 79:** Compare sales between 2010 and 2011.

**Task 80:** Calculate month-over-month revenue growth rate.

---

### **PART K: Customer Analysis**

**Task 81:** Calculate total spending for each customer.

**Task 82:** Find the top 20 customers by total spending.

**Task 83:** Calculate the number of transactions per customer.

**Task 84:** Find the average order value for each customer.

**Task 85:** Identify customers who have made only one purchase.

**Task 86:** Find customers who spent more than Â£10,000 in total.

**Task 87:** Calculate the average number of days between purchases for each customer.

---

### **PART L: Product Analysis**

**Task 88:** Find the top 20 products by revenue.

**Task 89:** Find the top 20 products by quantity sold.

**Task 90:** Calculate the average price for each product.

**Task 91:** Find products that have been sold to more than 10 different countries.

**Task 92:** Identify the most expensive and cheapest products.

---

### **PART M: Advanced Grouping**

**Task 93:** Calculate total revenue by Country and Year.

**Task 94:** Calculate average transaction value by Country and Quarter.

**Task 95:** Find the number of transactions by Country and Month.

**Task 96:** Calculate total revenue by Day of Week and Hour.

**Task 97:** For each country, calculate the sum, mean, maximum, and minimum TotalPrice.

**Task 98:** For each customer, calculate their total spending, number of orders, and average order value.

**Task 99:** For each product, calculate total quantity sold and total revenue generated.

---

### **PART N: Creating Summary Reports**

**Task 100:** Create a summary table showing monthly sales for each country (countries as rows, months as columns).

**Task 101:** Create a summary showing average quantity purchased by country and quarter.

**Task 102:** Create a table showing the count of transactions in each RevenueCategory by Country.

---

### **PART O: Data Transformation**

**Task 103:** Add a column to each row showing what percentage of the monthly total revenue that transaction represents.

**Task 104:** Add a column showing each customer's ranking based on their total spending.

**Task 105:** Add a column showing the cumulative revenue over time.

---

### **PART P: Combining Analysis**

**Task 106:** Split the dataset into two parts: 2010 data and 2011 data. Then combine them back together vertically.

**Task 107:** Create separate datasets for UK and non-UK transactions. Combine them back horizontally with appropriate labeling.

---

### **PART Q: External Data Integration**

**Task 108:** Create a new dataset with customer information (make up data):
- CustomerID, CustomerName, MembershipLevel (Bronze/Silver/Gold), JoinDate

**Task 109:** Combine this customer dataset with your sales data to show customer names and membership levels in transactions.

**Task 110:** Create a product categories dataset (make up data):
- StockCode, Category (e.g., Home, Kitchen, Gift, etc.)

**Task 111:** Combine the sales data with product categories to analyze which categories generate the most revenue.

**Task 112:** Perform an analysis that shows total revenue by MembershipLevel.

**Task 113:** Show which product categories are most popular in each country.

---

### **PART R: NumPy Operations**

**Task 114:** Extract Quantity and UnitPrice as arrays and perform element-wise multiplication.

**Task 115:** Create an array of 1000 random transaction IDs.

**Task 116:** Generate 50 equally spaced price points between Â£0 and Â£500.

**Task 117:** Create a matrix representing 12 months and 7 product categories filled with zeros.

**Task 118:** Extract quantities greater than 100 from the Quantity array.

**Task 119:** Calculate the square root of all UnitPrice values.

**Task 120:** Find the 25th, 50th, and 75th percentiles of TotalPrice.

**Task 121:** Round all UnitPrice values to the nearest integer.

**Task 122:** Find positions where Quantity is maximum.

**Task 123:** Calculate the correlation between Quantity and UnitPrice.

**Task 124:** Normalize the TotalPrice column (subtract mean, divide by standard deviation).

**Task 125:** Split the Quantity array into 4 equal parts.

---

### **PART S: Export and Documentation**

**Task 126:** Save your cleaned dataset to a CSV file.

**Task 127:** Save your cleaned dataset to an Excel file.

**Task 128:** Create an Excel file with multiple sheets:
- Sheet 1: Full cleaned data
- Sheet 2: Country-wise summary
- Sheet 3: Monthly revenue trends
- Sheet 4: Top 50 customers

**Task 129:** Export the pivot table from Task 100 to Excel.

**Task 130:** Create a text file documenting all the insights you discovered from this analysis.

---


**Good Luck! ðŸš€**

In [6]:
import kagglehub
path = kagglehub.dataset_download("vijayuv/onlineretail")

Using Colab cache for faster access to the 'onlineretail' dataset.

In [7]:
path

'/kaggle/input/onlineretail'

In [8]:
df = pd.read_csv('/kaggle/input/onlineretail/OnlineRetail.csv',encoding='ISO-8859-1')

In [9]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [10]:
df.size

4335272

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [12]:
df.head(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,12/1/2010 8:34,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,12/1/2010 8:34,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom

In [13]:
df.tail(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,12/9/2011 12:50,1.65,12680.0,France
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,12/9/2011 12:50,1.65,12680.0,France
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,12/9/2011 12:50,3.75,12680.0,France
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,12/9/2011 12:50,3.75,12680.0,France
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,12/9/2011 12:50,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,12/9/2011 12:50,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,12/9/2011 12:50,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,12/9/2011 12:50,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [14]:
df.sample(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
262594,559923,22418,10 COLOUR SPACEBOY PEN,3,7/13/2011 16:07,1.63,NaN,United Kingdom
37761,539477,22035,VINTAGE CARAVAN GREETING CARD,12,12/19/2010 14:58,0.42,18245.0,United Kingdom
474522,576840,48138,DOORMAT UNION FLAG,1,11/16/2011 15:23,15.79,NaN,United Kingdom
95489,544460,21385,IVORY HANGING DECORATION HEART,7,2/20/2011 14:01,0.85,16931.0,United Kingdom
292269,562546,20694,?,-110,8/5/2011 15:46,0.00,NaN,United Kingdom
384631,570167,23371,SET 36 COLOUR PENCILS SPACEBOY,16,10/7/2011 14:04,1.25,15615.0,United Kingdom
180027,552296,22616,PACK OF 12 LONDON TISSUES,24,5/8/2011 14:09,0.29,15518.0,United Kingdom
408495,571941,23558,LANDMARK FRAME LONDON BRIDGE,3,10/20/2011 10:04,12.50,14261.0,United Kingdom
400597,571322,23330,DECORATIVE WICKER HEART MEDIUM,12,10/17/2011 11:05,1.25,13534.0,United Kingdom
370558,569140,22573,STAR WOODEN CHRISTMAS DECORATION,12,9/30/2011 14:59,0.85,14503.0,United Kingdom
443656,574707,23582,VINTAGE DOILY JUMBO BAG RED,20,11/6/2011 14:08,2.08,17107.0,United Kingdom
242754,558371,20677,PINK POLKADOT BOWL,4,6/28/2011 15:44,2.46,NaN,United Kingdom
206219,554917,22964,3 PIECE SPACEBOY COOKIE CUTTER SET,6,5/27/2011 12:29,2.10,15104.0,United Kingdom
95447,544457,21735,TWO DOOR CURIO CABINET,2,2/20/2011 13:46,12.75,14667.0,United Kingdom
316192,564750,22730,ALARM CLOCK BAKELIKE IVORY,4,8/30/2011 9:36,3.75,17690.0,United Kingdom
106583,545334,22233,JIGSAW RABBIT AND BIRDHOUSE,3,3/1/2011 16:34,1.65,15750.0,United Kingdom
404746,571684,22111,SCOTTIE DOG HOT WATER BOTTLE,1,10/18/2011 14:11,4.95,16730.0,United Kingdom
404377,571672,22632,HAND WARMER RED RETROSPOT,12,10/18/2011 13:15,2.10,13880.0,United Kingdom
391522,570672,22900,SET 2 TEA TOWELS I LOVE LONDON,6,10/11/2011 14:52,3.25,12536.0,France
284212,561867,47421,ASSORTED COLOUR LIZARD SUCTION HOOK,4,7/31/2011 10:59,0.42,16931.0,United Kingdom

In [15]:
df.shape

(541909, 8)

In [16]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [17]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [18]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [19]:
df.describe(include='all')

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
count,541909,541909,540455,541909.000000,541909,541909.000000,406829.000000,541909
unique,25900,4070,4223,NaN,23260,NaN,NaN,38
top,573585,85123A,WHITE HANGING HEART T-LIGHT HOLDER,NaN,10/31/2011 14:41,NaN,NaN,United Kingdom
freq,1114,2313,2369,NaN,1114,NaN,NaN,495478
mean,NaN,NaN,NaN,9.552250,NaN,4.611114,15287.690570,NaN
std,NaN,NaN,NaN,218.081158,NaN,96.759853,1713.600303,NaN
min,NaN,NaN,NaN,-80995.000000,NaN,-11062.060000,12346.000000,NaN
25%,NaN,NaN,NaN,1.000000,NaN,1.250000,13953.000000,NaN
50%,NaN,NaN,NaN,3.000000,NaN,2.080000,15152.000000,NaN
75%,NaN,NaN,NaN,10.000000,NaN,4.130000,16791.000000,NaN
max,NaN,NaN,NaN,80995.000000,NaN,38970.000000,18287.000000,NaN

Part B

In [20]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [21]:
df['CustomerID'].isna().sum()

np.int64(135080)

In [22]:
df.duplicated().sum()

np.int64(5268)

In [23]:
df[df['Quantity']<=0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/2010 9:49,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12/1/2010 10:24,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,12/9/2011 9:57,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,12/9/2011 10:28,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,12/9/2011 11:57,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,12/9/2011 11:58,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,12/9/2011 11:58,1.25,17315.0,United Kingdom

In [24]:
df[df['UnitPrice']<=0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,12/1/2010 11:52,0.0,NaN,United Kingdom
1970,536545,21134,NaN,1,12/1/2010 14:32,0.0,NaN,United Kingdom
1971,536546,22145,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1972,536547,37509,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1987,536549,85226A,NaN,1,12/1/2010 14:34,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
536981,581234,72817,NaN,27,12/8/2011 10:33,0.0,NaN,United Kingdom
538504,581406,46000M,POLYESTER FILLER PAD 45x45cm,240,12/8/2011 13:58,0.0,NaN,United Kingdom
538505,581406,46000S,POLYESTER FILLER PAD 40x40cm,300,12/8/2011 13:58,0.0,NaN,United Kingdom
538554,581408,85175,NaN,20,12/8/2011 14:06,0.0,NaN,United Kingdom
538919,581422,23169,smashed,-235,12/8/2011 15:24,0.0,NaN,United Kingdom

In [25]:
df['InvoiceNo'].astype(str).str.startswith('C').sum()

np.int64(9288)

In [26]:
(df['Description'].str.startswith(' ') | df['Description'].str.endswith(' ')).sum()

np.int64(113452)

In [27]:
df['Description'].str.startswith(' ').sum()

1271

In [28]:
df['Description'].str.endswith(' ').sum()

112626

Part C

In [29]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [30]:
#  task 15 Remove all rows where CustomerID is missing.
df = df.dropna(subset=['CustomerID'])

In [31]:
df.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [32]:
df['Description'].isna().sum()

np.int64(0)

In [33]:
# **Task 16:** For missing product descriptions, fill them with "Unknown Product".

df['Description'] = df['Description'].fillna('Unknown Product')

#this wont work because both description and customer id is linked and dropna done already

/tmp/ipython-input-75227273.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Description'] = df['Description'].fillna('Unknown Product')

In [34]:
df[df['Description']=='Unknown Product']

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [35]:
df.duplicated().sum()

np.int64(5225)

In [36]:
# **Task 17:** Remove all duplicate transactions.

df = df.drop_duplicates()

In [37]:
df.duplicated().sum()

np.int64(0)

In [38]:
 # **Task 18:** Remove transactions where Quantity is less than or equal to zero.
df = df[df['Quantity'] >= 0]

In [39]:
 # **Task 19:** Remove transactions where UnitPrice is less than or equal to zero.
df = df[df['UnitPrice'] >= 0]

In [40]:
# **Task 20:** Remove all cancelled transactions (invoices starting with 'C').
df = df[~df['InvoiceNo'].astype(str).str.startswith('C')]

In [41]:
df = df.rename(columns={'Description': 'ProductName'})

In [42]:
df.columns

Index(['InvoiceNo', 'StockCode', 'ProductName', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [43]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [44]:
df.dtypes

InvoiceNo              object
StockCode              object
ProductName            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [45]:
df['CustomerID'] = df['CustomerID'].astype(int)

In [46]:
df.dtypes

InvoiceNo              object
StockCode              object
ProductName            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID              int64
Country                object
dtype: object

In [47]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France

In [48]:
df = df.reset_index(drop=True)

Part D

In [49]:
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']

In [50]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
392727,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20
392728,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60
392729,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60
392730,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60
392731,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85

In [51]:
df['Year'] = df['InvoiceDate'].dt.year
df['Month'] = df['InvoiceDate'].dt.month
df['Day'] = df['InvoiceDate'].dt.day

In [52]:
df['Hour'] = df['InvoiceDate'].dt.hour
df['DayOfWeek'] = df['InvoiceDate'].dt.day_name()
df['Quarter'] = df['InvoiceDate'].dt.quarter

In [53]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,Wednesday,4
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,Wednesday,4
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392727,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,4
392728,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,4
392729,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4
392730,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4
392731,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4

In [54]:
def revenue_category(x):
    if x < 10:
        return 'Low'
    elif x <= 100:
        return 'Medium'
    else:
        return 'High'

df['RevenueCategory'] = df['TotalPrice'].apply(revenue_category)

In [55]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,Wednesday,4,Medium
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,Wednesday,4,Medium
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392727,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,4,Medium
392728,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,4,Medium
392729,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium
392730,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium
392731,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4,Medium

In [56]:
def order_size(qty):
    if qty < 5:
        return 'Small'
    elif qty <= 20:
        return 'Medium'
    else:
        return 'Large'

df['OrderSize'] = df['Quantity'].apply(order_size)

In [57]:
df['PrdtNameLen'] = df['ProductName'].str.len()

In [58]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,PrdtNameLen
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,Wednesday,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,Wednesday,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392727,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,4,Medium,Medium,27
392728,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,4,Medium,Medium,28
392729,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium,Small,29
392730,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium,Small,31
392731,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4,Medium,Small,29

part E

In [59]:
df['ProductName'] = df['ProductName'].str.upper()

In [60]:
df['Country'] = df['Country'].str.strip()

In [61]:
df[df['ProductName'].str.contains('BAG', na=False)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,PrdtNameLen
38,536370,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,20,2010-12-01 08:45:00,0.85,12583,France,17.0,2010,12,1,8,Wednesday,4,Medium,Medium,31
86,536378,22386,JUMBO BAG PINK POLKADOT,10,2010-12-01 09:37:00,1.95,14688,United Kingdom,19.5,2010,12,1,9,Wednesday,4,Medium,Medium,23
87,536378,85099C,JUMBO BAG BAROQUE BLACK WHITE,10,2010-12-01 09:37:00,1.95,14688,United Kingdom,19.5,2010,12,1,9,Wednesday,4,Medium,Medium,30
88,536378,21033,JUMBO BAG CHARLIE AND LOLA TOYS,10,2010-12-01 09:37:00,2.95,14688,United Kingdom,29.5,2010,12,1,9,Wednesday,4,Medium,Medium,31
89,536378,20723,STRAWBERRY CHARLOTTE BAG,10,2010-12-01 09:37:00,0.85,14688,United Kingdom,8.5,2010,12,1,9,Wednesday,4,Low,Medium,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392656,581579,23343,JUMBO BAG VINTAGE CHRISTMAS,30,2011-12-09 12:19:00,1.79,17581,United Kingdom,53.7,2011,12,9,12,Friday,4,Medium,Large,28
392657,581579,23344,JUMBO BAG 50'S CHRISTMAS,20,2011-12-09 12:19:00,1.79,17581,United Kingdom,35.8,2011,12,9,12,Friday,4,Medium,Medium,25
392658,581579,23581,JUMBO BAG PAISLEY PARK,40,2011-12-09 12:19:00,1.79,17581,United Kingdom,71.6,2011,12,9,12,Friday,4,Medium,Large,22
392685,581581,23681,LUNCH BAG RED VINTAGE DOILY,10,2011-12-09 12:20:00,1.65,17581,United Kingdom,16.5,2011,12,9,12,Friday,4,Medium,Medium,27
392688,581583,20725,LUNCH BAG RED RETROSPOT,40,2011-12-09 12:23:00,1.45,13777,United Kingdom,58.0,2011,12,9,12,Friday,4,Medium,Large,23

In [62]:
df[df['ProductName'].str.startswith('WHITE', na=False)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,PrdtNameLen
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,Wednesday,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,19
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,15.30,2010,12,1,9,Wednesday,4,Medium,Medium,34
50,536373,71053,WHITE METAL LANTERN,6,2010-12-01 09:02:00,3.39,17850,United Kingdom,20.34,2010,12,1,9,Wednesday,4,Medium,Medium,19
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850,United Kingdom,15.30,2010,12,1,9,Wednesday,4,Medium,Medium,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392062,581472,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2011-12-08 19:55:00,2.95,15796,United Kingdom,17.70,2011,12,8,19,Thursday,4,Medium,Medium,34
392175,581476,21479,WHITE SKULL HOT WATER BOTTLE,4,2011-12-09 08:48:00,4.25,12433,Norway,17.00,2011,12,9,8,Friday,4,Medium,Small,29
392412,581502,23210,WHITE ROCKING HORSE HAND PAINTED,12,2011-12-09 10:51:00,1.25,15910,United Kingdom,15.00,2011,12,9,10,Friday,4,Medium,Medium,32
392479,581538,21673,WHITE SPOT BLUE CERAMIC DRAWER KNOB,1,2011-12-09 11:34:00,1.45,14446,United Kingdom,1.45,2011,12,9,11,Friday,4,Low,Small,35
392538,581567,21479,WHITE SKULL HOT WATER BOTTLE,4,2011-12-09 11:56:00,4.25,16626,United Kingdom,17.00,2011,12,9,11,Friday,4,Medium,Small,29

In [63]:
df[df['ProductName'].str.endswith('HOLDER', na=False)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,PrdtNameLen
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.3,2010,12,1,8,Wednesday,4,Medium,Medium,34
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.5,2010,12,1,8,Wednesday,4,Medium,Medium,33
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,15.3,2010,12,1,9,Wednesday,4,Medium,Medium,34
64,536373,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 09:02:00,4.25,17850,United Kingdom,25.5,2010,12,1,9,Wednesday,4,Medium,Medium,33
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850,United Kingdom,15.3,2010,12,1,9,Wednesday,4,Medium,Medium,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392537,581567,21326,AGED GLASS SILVER T-LIGHT HOLDER,144,2011-12-09 11:56:00,0.55,16626,United Kingdom,79.2,2011,12,9,11,Friday,4,Medium,Large,32
392564,581571,85053,FRENCH ENAMEL CANDLEHOLDER,2,2011-12-09 12:00:00,2.10,15311,United Kingdom,4.2,2011,12,9,12,Friday,4,Low,Small,26
392648,581579,22197,POPCORN HOLDER,24,2011-12-09 12:19:00,0.85,17581,United Kingdom,20.4,2011,12,9,12,Friday,4,Medium,Large,14
392695,581585,22460,EMBOSSED GLASS TEALIGHT HOLDER,12,2011-12-09 12:31:00,1.25,15804,United Kingdom,15.0,2011,12,9,12,Friday,4,Medium,Medium,30
392699,581585,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,24,2011-12-09 12:31:00,0.85,15804,United Kingdom,20.4,2011,12,9,12,Friday,4,Medium,Large,34

In [64]:
df['Country'] = df['Country'].replace('United Kingdom', 'UK')

In [65]:
df['Country'] = df['Country'].replace('EIRE', 'Ireland')

part f

In [66]:
selected_df = df[['InvoiceNo', 'ProductName', 'Quantity', 'UnitPrice', 'Country']]
selected_df.head()

  InvoiceNo                          ProductName  Quantity  UnitPrice Country
0    536365   WHITE HANGING HEART T-LIGHT HOLDER         6       2.55      UK
1    536365                  WHITE METAL LANTERN         6       3.39      UK
2    536365       CREAM CUPID HEARTS COAT HANGER         8       2.75      UK
3    536365  KNITTED UNION FLAG HOT WATER BOTTLE         6       3.39      UK
4    536365       RED WOOLLY HOTTIE WHITE HEART.         6       3.39      UK

In [67]:
df[df['Country'] == 'Germany']

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,PrdtNameLen
1073,536527,22809,SET OF 6 T-LIGHTS SANTA,6,2010-12-01 13:04:00,2.95,12662,Germany,17.70,2010,12,1,13,Wednesday,4,Medium,Medium,23
1074,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,2010-12-01 13:04:00,2.55,12662,Germany,15.30,2010,12,1,13,Wednesday,4,Medium,Medium,35
1075,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,2010-12-01 13:04:00,0.85,12662,Germany,10.20,2010,12,1,13,Wednesday,4,Medium,Medium,34
1076,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,2010-12-01 13:04:00,1.65,12662,Germany,19.80,2010,12,1,13,Wednesday,4,Medium,Medium,29
1077,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,2010-12-01 13:04:00,1.95,12662,Germany,23.40,2010,12,1,13,Wednesday,4,Medium,Medium,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392624,581578,22993,SET OF 4 PANTRY JELLY MOULDS,12,2011-12-09 12:16:00,1.25,12713,Germany,15.00,2011,12,9,12,Friday,4,Medium,Medium,28
392625,581578,22907,PACK OF 20 NAPKINS PANTRY DESIGN,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,2011,12,9,12,Friday,4,Medium,Medium,32
392626,581578,22908,PACK OF 20 NAPKINS RED APPLES,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,2011,12,9,12,Friday,4,Medium,Medium,29
392627,581578,23215,JINGLE BELL HEART ANTIQUE SILVER,12,2011-12-09 12:16:00,2.08,12713,Germany,24.96,2011,12,9,12,Friday,4,Medium,Medium,32
392628,581578,22736,RIBBON REEL MAKING SNOWMEN,10,2011-12-09 12:16:00,1.65,12713,Germany,16.50,2011,12,9,12,Friday,4,Medium,Medium,27

In [68]:
df[df['Quantity'] > 50]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,PrdtNameLen
46,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-12-01 09:00:00,2.55,13748,UK,204.00,2010,12,1,9,Wednesday,4,High,Large,31
83,536376,21733,RED HANGING HEART T-LIGHT HOLDER,64,2010-12-01 09:32:00,2.55,15291,UK,163.20,2010,12,1,9,Wednesday,4,High,Large,32
96,536378,21212,PACK OF 72 RETROSPOT CAKE CASES,120,2010-12-01 09:37:00,0.42,14688,UK,50.40,2010,12,1,9,Wednesday,4,Medium,Large,31
102,536378,85071B,RED CHARLIE+LOLA PERSONAL DOORSIGN,96,2010-12-01 09:37:00,0.38,14688,UK,36.48,2010,12,1,9,Wednesday,4,Medium,Large,34
174,536386,85099C,JUMBO BAG BAROQUE BLACK WHITE,100,2010-12-01 09:57:00,1.65,16029,UK,165.00,2010,12,1,9,Wednesday,4,High,Large,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392528,581566,23404,HOME SWEET HOME BLACKBOARD,144,2011-12-09 11:50:00,3.26,18102,UK,469.44,2011,12,9,11,Friday,4,High,Large,26
392529,581567,21417,COCKLE SHELL DISH,84,2011-12-09 11:56:00,0.79,16626,UK,66.36,2011,12,9,11,Friday,4,Medium,Large,17
392537,581567,21326,AGED GLASS SILVER T-LIGHT HOLDER,144,2011-12-09 11:56:00,0.55,16626,UK,79.20,2011,12,9,11,Friday,4,Medium,Large,32
392569,581571,23167,SMALL CERAMIC TOP STORAGE JAR,96,2011-12-09 12:00:00,0.69,15311,UK,66.24,2011,12,9,12,Friday,4,Medium,Large,30
392690,581584,20832,RED FLOCK LOVE HEART PHOTO FRAME,72,2011-12-09 12:25:00,0.72,13777,UK,51.84,2011,12,9,12,Friday,4,Medium,Large,32

In [69]:
df[(df['UnitPrice'] >= 5) & (df['UnitPrice'] <= 10)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,PrdtNameLen
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,UK,15.30,2010,12,1,8,Wednesday,4,Medium,Small,28
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047,UK,19.90,2010,12,1,8,Wednesday,4,Medium,Small,30
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047,UK,17.85,2010,12,1,8,Wednesday,4,Medium,Small,24
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047,UK,17.85,2010,12,1,8,Wednesday,4,Medium,Small,24
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047,UK,31.80,2010,12,1,8,Wednesday,4,Medium,Small,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392678,581580,21351,CINAMMON & ORANGE WREATH,1,2011-12-09 12:20:00,6.75,12748,UK,6.75,2011,12,9,12,Friday,4,Low,Small,24
392681,581580,79321,CHILLI LIGHTS,2,2011-12-09 12:20:00,5.75,12748,UK,11.50,2011,12,9,12,Friday,4,Medium,Small,13
392701,581585,23356,LOVE HOT WATER BOTTLE,3,2011-12-09 12:31:00,5.95,15804,UK,17.85,2011,12,9,12,Friday,4,Medium,Small,21
392715,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113,UK,214.80,2011,12,9,12,Friday,4,High,Large,29
392716,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113,UK,70.80,2011,12,9,12,Friday,4,Medium,Medium,21

In [70]:
df[(df['Country'] == 'France') & (df['Quantity'] > 20)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,PrdtNameLen
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,Wednesday,4,Medium,Large,25
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,Wednesday,4,Medium,Large,25
30,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583,France,15.60,2010,12,1,8,Wednesday,4,Medium,Large,16
31,536370,10002,INFLATABLE POLITICAL GLOBE,48,2010-12-01 08:45:00,0.85,12583,France,40.80,2010,12,1,8,Wednesday,4,Medium,Large,27
32,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24,2010-12-01 08:45:00,1.25,12583,France,30.00,2010,12,1,8,Wednesday,4,Medium,Large,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387511,581001,23084,RABBIT NIGHT LIGHT,24,2011-12-07 08:07:00,1.79,12583,France,42.96,2011,12,7,8,Wednesday,4,Medium,Large,18
387525,581001,22726,ALARM CLOCK BAKELIKE GREEN,24,2011-12-07 08:07:00,3.75,12583,France,90.00,2011,12,7,8,Wednesday,4,Medium,Large,26
389103,581171,22966,GINGERBREAD MAN COOKIE CUTTER,24,2011-12-07 15:02:00,1.25,12615,France,30.00,2011,12,7,15,Wednesday,4,Medium,Large,29
389114,581171,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,48,2011-12-07 15:02:00,0.29,12615,France,13.92,2011,12,7,15,Wednesday,4,Medium,Large,33
389121,581171,23084,RABBIT NIGHT LIGHT,24,2011-12-07 15:02:00,1.79,12615,France,42.96,2011,12,7,15,Wednesday,4,Medium,Large,18

In [71]:
df[(df['InvoiceDate'].dt.year == 2010) & (df['InvoiceDate'].dt.month == 12)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,PrdtNameLen
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,Wednesday,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,Wednesday,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25668,539988,84380,SET OF 3 BUTTERFLY COOKIE CUTTERS,1,2010-12-23 16:06:00,1.25,18116,UK,1.25,2010,12,23,16,Thursday,4,Low,Small,33
25669,539988,84849D,HOT BATHS SOAP HOLDER,1,2010-12-23 16:06:00,1.69,18116,UK,1.69,2010,12,23,16,Thursday,4,Low,Small,21
25670,539988,84849B,FAIRY SOAP SOAP HOLDER,1,2010-12-23 16:06:00,1.69,18116,UK,1.69,2010,12,23,16,Thursday,4,Low,Small,22
25671,539988,22854,CREAM SWEETHEART EGG HOLDER,2,2010-12-23 16:06:00,4.95,18116,UK,9.90,2010,12,23,16,Thursday,4,Low,Small,27
25672,539988,47559B,TEA TIME OVEN GLOVE,2,2010-12-23 16:06:00,1.25,18116,UK,2.50,2010,12,23,16,Thursday,4,Low,Small,19

In [72]:
df[df['InvoiceDate'].dt.dayofweek >= 5]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,PrdtNameLen
4943,537037,22114,HOT WATER BOTTLE TEA AND SYMPATHY,8,2010-12-05 10:03:00,3.95,17243,UK,31.60,2010,12,5,10,Sunday,4,Medium,Medium,33
4944,537037,21485,RETROSPOT HEART HOT WATER BOTTLE,6,2010-12-05 10:03:00,4.95,17243,UK,29.70,2010,12,5,10,Sunday,4,Medium,Medium,32
4945,537037,22835,HOT WATER BOTTLE I AM SO POORLY,3,2010-12-05 10:03:00,4.65,17243,UK,13.95,2010,12,5,10,Sunday,4,Medium,Small,31
4946,537037,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-05 10:03:00,3.75,17243,UK,22.50,2010,12,5,10,Sunday,4,Medium,Medium,30
4947,537037,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-05 10:03:00,3.75,17243,UK,22.50,2010,12,5,10,Sunday,4,Medium,Medium,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381645,580536,21156,RETROSPOT CHILDRENS APRON,8,2011-12-04 16:07:00,1.95,12490,France,15.60,2011,12,4,16,Sunday,4,Medium,Medium,25
381646,580536,21880,RED RETROSPOT TAPE,12,2011-12-04 16:07:00,0.65,12490,France,7.80,2011,12,4,16,Sunday,4,Low,Medium,18
381647,580536,22090,PAPER BUNTING RETROSPOT,6,2011-12-04 16:07:00,2.95,12490,France,17.70,2011,12,4,16,Sunday,4,Medium,Medium,23
381648,580536,22628,PICNIC BOXES SET OF 3 RETROSPOT,4,2011-12-04 16:07:00,4.95,12490,France,19.80,2011,12,4,16,Sunday,4,Medium,Small,32
381649,580536,POST,POSTAGE,3,2011-12-04 16:07:00,18.00,12490,France,54.00,2011,12,4,16,Sunday,4,Medium,Small,7

In [73]:
df.sort_values(by='TotalPrice', ascending=False).head(10)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,PrdtNameLen
392266,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,Friday,4,High,Large,27
36527,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,Tuesday,1,High,Large,30
153601,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,Friday,2,High,Large,30
116879,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,Tuesday,2,High,Small,7
246062,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,Tuesday,3,High,Large,35
32204,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,1,11,12,Tuesday,1,High,Large,34
108215,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,4,18,13,Monday,2,High,Large,34
304649,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,10,27,12,Thursday,4,High,Large,18
32202,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749,UK,4921.50,2011,1,11,12,Tuesday,1,High,Large,34
108211,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749,UK,4632.00,2011,4,18,13,Monday,2,High,Large,34

In [74]:
df.sort_values(by='TotalPrice', ascending=True).head(15)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,PrdtNameLen
354241,577696,M,MANUAL,1,2011-11-21 11:57:00,0.0,16406,UK,0.0,2011,11,21,11,Monday,4,Low,Small,6
197495,561916,M,MANUAL,1,2011-08-01 11:44:00,0.0,15581,UK,0.0,2011,8,1,11,Monday,3,Low,Small,6
253564,568158,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 12:22:00,0.0,16133,UK,0.0,2011,9,25,12,Sunday,3,Low,Small,26
28584,540372,22553,PLASTERS IN TIN SKULLS,24,2011-01-06 16:41:00,0.0,13081,UK,0.0,2011,1,6,16,Thursday,1,Low,Large,22
316451,574175,22065,CHRISTMAS PUDDING TRINKET POT,12,2011-11-03 11:47:00,0.0,14110,UK,0.0,2011,11,3,11,Thursday,4,Low,Medium,30
28582,540372,22090,PAPER BUNTING RETROSPOT,24,2011-01-06 16:41:00,0.0,13081,UK,0.0,2011,1,6,16,Thursday,1,Low,Large,23
271006,569716,22778,GLASS CLOCHE SMALL,2,2011-10-06 08:17:00,0.0,15804,UK,0.0,2011,10,6,8,Thursday,4,Low,Small,18
135490,554037,22619,SET OF 6 SOLDIER SKITTLES,80,2011-05-20 14:13:00,0.0,12415,Australia,0.0,2011,5,20,14,Friday,2,Low,Large,25
33947,541109,22168,ORGANISER WOOD ANTIQUE WHITE,1,2011-01-13 15:10:00,0.0,15107,UK,0.0,2011,1,13,15,Thursday,1,Low,Small,29
349894,577314,23407,SET OF 2 TRAYS HOME SWEET HOME,2,2011-11-18 13:23:00,0.0,12444,Norway,0.0,2011,11,18,13,Friday,4,Low,Small,30
348842,577168,M,MANUAL,1,2011-11-18 10:42:00,0.0,12603,Germany,0.0,2011,11,18,10,Friday,4,Low,Small,6
283412,571035,M,MANUAL,1,2011-10-13 12:50:00,0.0,12446,RSA,0.0,2011,10,13,12,Thursday,4,Low,Small,6
318647,574469,22385,JUMBO BAG SPACEBOY DESIGN,12,2011-11-04 11:55:00,0.0,12431,Australia,0.0,2011,11,4,11,Friday,4,Low,Medium,25
24893,539722,22423,REGENCY CAKESTAND 3 TIER,10,2010-12-21 13:45:00,0.0,14911,Ireland,0.0,2010,12,21,13,Tuesday,4,Low,Medium,24
22096,539263,22580,ADVENT CALENDAR GINGHAM SACK,4,2010-12-16 14:36:00,0.0,16560,UK,0.0,2010,12,16,14,Thursday,4,Low,Small,28

In [75]:
df[df['Country'].isin(['UK', 'Germany', 'France'])]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,PrdtNameLen
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,Wednesday,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,Wednesday,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392727,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,4,Medium,Medium,27
392728,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,4,Medium,Medium,28
392729,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium,Small,29
392730,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium,Small,31
392731,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4,Medium,Small,29

In [76]:
per95 = df['TotalPrice'].quantile(0.95)
df[df['TotalPrice'] > per95]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,PrdtNameLen
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,Wednesday,4,Medium,Large,25
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,Wednesday,4,Medium,Large,25
34,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24,2010-12-01 08:45:00,2.95,12583,France,70.80,2010,12,1,8,Wednesday,4,Medium,Large,35
40,536370,22900,SET 2 TEA TOWELS I LOVE LONDON,24,2010-12-01 08:45:00,2.95,12583,France,70.80,2010,12,1,8,Wednesday,4,Medium,Large,32
46,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-12-01 09:00:00,2.55,13748,UK,204.00,2010,12,1,9,Wednesday,4,High,Large,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392650,581579,23313,VINTAGE CHRISTMAS BUNTING,15,2011-12-09 12:19:00,4.95,17581,UK,74.25,2011,12,9,12,Friday,4,Medium,Medium,25
392658,581579,23581,JUMBO BAG PAISLEY PARK,40,2011-12-09 12:19:00,1.79,17581,UK,71.60,2011,12,9,12,Friday,4,Medium,Large,22
392691,581584,85038,6 CHOCOLATE LOVE HEART T-LIGHTS,48,2011-12-09 12:25:00,1.85,13777,UK,88.80,2011,12,9,12,Friday,4,Medium,Large,31
392715,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113,UK,214.80,2011,12,9,12,Friday,4,High,Large,29
392716,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113,UK,70.80,2011,12,9,12,Friday,4,Medium,Medium,21

part G

In [77]:
df_sorted_date = df.sort_values(by='InvoiceDate', ascending=True)
df_sorted_date.head()

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,PrdtNameLen
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,Wednesday,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,Wednesday,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,30

In [78]:
df_sorted_revenue = df.sort_values(by='TotalPrice', ascending=False)
df_sorted_revenue.head()

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,PrdtNameLen
392266,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,Friday,4,High,Large,27
36527,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,Tuesday,1,High,Large,30
153601,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,Friday,2,High,Large,30
116879,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,Tuesday,2,High,Small,7
246062,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,Tuesday,3,High,Large,35

In [79]:
df.sort_values(by=['Country', 'TotalPrice'], ascending=[True, False])

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,PrdtNameLen
340982,576394,23084,RABBIT NIGHT LIGHT,960,2011-11-15 10:32:00,1.79,12415,Australia,1718.40,2011,11,15,10,Tuesday,4,High,Large,18
212492,563614,22940,FELTCRAFT CHRISTMAS FAIRY,336,2011-08-18 08:51:00,3.75,12415,Australia,1260.00,2011,8,18,8,Thursday,3,High,Large,25
68531,545475,21217,RED RETROSPOT ROUND CAKE TINS,120,2011-03-03 10:59:00,8.95,12415,Australia,1074.00,2011,3,3,10,Thursday,1,High,Large,29
212562,563614,23314,VINTAGE CHRISTMAS TABLECLOTH,100,2011-08-18 08:51:00,10.39,12415,Australia,1039.00,2011,8,18,8,Thursday,3,High,Large,28
27586,540267,22720,SET OF 3 CAKE TINS PANTRY DESIGN,240,2011-01-06 11:12:00,4.25,12415,Australia,1020.00,2011,1,6,11,Thursday,1,High,Large,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194944,561661,47343A,FUSCHIA FLOWER PURSE WITH BEADS,1,2011-07-28 16:21:00,0.83,12743,Unspecified,0.83,2011,7,28,16,Thursday,3,Low,Small,31
194825,561658,47574A,ENGLISH ROSE SCENTED HANGING FLOWER,1,2011-07-28 16:06:00,0.75,12743,Unspecified,0.75,2011,7,28,16,Thursday,3,Low,Small,35
194889,561658,47348A,FUSCHIA VOILE POINTY SHOE DEC,1,2011-07-28 16:06:00,0.39,12743,Unspecified,0.39,2011,7,28,16,Thursday,3,Low,Small,29
194939,561661,22396,MAGNETS PACK OF 4 RETRO PHOTO,1,2011-07-28 16:21:00,0.39,12743,Unspecified,0.39,2011,7,28,16,Thursday,3,Low,Small,29
194914,561661,79063C,"RETRO PILL BOX KEY CHAIN,THE KING",1,2011-07-28 16:21:00,0.19,12743,Unspecified,0.19,2011,7,28,16,Thursday,3,Low,Small,33

In [80]:
df.sort_values(by='TotalPrice', ascending=False).head(20)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,PrdtNameLen
392266,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,Friday,4,High,Large,27
36527,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,Tuesday,1,High,Large,30
153601,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,Friday,2,High,Large,30
116879,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,Tuesday,2,High,Small,7
246062,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,Tuesday,3,High,Large,35
32204,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,1,11,12,Tuesday,1,High,Large,34
108215,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,4,18,13,Monday,2,High,Large,34
304649,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,10,27,12,Thursday,4,High,Large,18
32202,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749,UK,4921.50,2011,1,11,12,Tuesday,1,High,Large,34
108211,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749,UK,4632.00,2011,4,18,13,Monday,2,High,Large,34
32264,540818,48185,DOORMAT FAIRY CAKE,670,2011-01-11 12:57:00,6.75,15749,UK,4522.50,2011,1,11,12,Tuesday,1,High,Large,18
169611,558526,23173,REGENCY TEAPOT ROSES,540,2011-06-30 11:01:00,8.15,17949,UK,4401.00,2011,6,30,11,Thursday,2,High,Large,21
108213,550461,48185,DOORMAT FAIRY CAKE,670,2011-04-18 13:20:00,6.35,15749,UK,4254.50,2011,4,18,13,Monday,2,High,Large,18
201803,562439,84879,ASSORTED COLOUR BIRD ORNAMENT,2880,2011-08-04 18:06:00,1.45,12931,UK,4176.00,2011,8,4,18,Thursday,3,High,Large,29
305391,573080,M,MANUAL,1,2011-10-27 14:20:00,4161.06,12536,France,4161.06,2011,10,27,14,Thursday,4,High,Small,6
305367,573077,M,MANUAL,1,2011-10-27 14:13:00,4161.06,12536,France,4161.06,2011,10,27,14,Thursday,4,High,Small,6
31662,540689,22470,HEART OF WICKER LARGE,1284,2011-01-11 08:43:00,3.21,17450,UK,4121.64,2011,1,11,8,Tuesday,1,High,Large,21
292045,571751,M,MANUAL,1,2011-10-19 11:18:00,3949.32,12744,Singapore,3949.32,2011,10,19,11,Wednesday,4,High,Small,6
388178,581115,22413,METAL SIGN TAKE IT OR LEAVE IT,1404,2011-12-07 12:20:00,2.75,15195,UK,3861.00,2011,12,7,12,Wednesday,4,High,Large,31
10526,537659,21623,VINTAGE UNION JACK MEMOBOARD,600,2010-12-07 16:43:00,6.38,18102,UK,3828.00,2010,12,7,16,Tuesday,4,High,Large,28

In [81]:
df[df['TotalPrice'] > 0].sort_values(by='TotalPrice', ascending=True).head(20)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,PrdtNameLen
254752,568200,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 14:58:00,0.001,16198,UK,0.001,2011,9,25,14,Sunday,3,Low,Small,26
105973,550193,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-04-15 09:27:00,0.001,13952,UK,0.001,2011,4,15,9,Friday,2,Low,Small,26
192232,561226,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-07-26 10:13:00,0.001,15618,UK,0.001,2011,7,26,10,Tuesday,3,Low,Small,26
256565,568375,BANK CHARGES,BANK CHARGES,1,2011-09-26 17:01:00,0.001,13405,UK,0.001,2011,9,26,17,Monday,3,Low,Small,12
364856,578757,16216,LETTER SHAPE PENCIL SHARPENER,1,2011-11-25 11:41:00,0.060,12748,UK,0.060,2011,11,25,11,Friday,4,Low,Small,29
196923,561894,M,MANUAL,1,2011-07-31 15:00:00,0.080,14456,UK,0.080,2011,7,31,15,Sunday,3,Low,Small,6
176913,559509,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-07-08 15:25:00,0.100,15920,UK,0.100,2011,7,8,15,Friday,3,Low,Small,30
167814,558198,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-06-27 12:49:00,0.100,14104,UK,0.100,2011,6,27,12,Monday,2,Low,Small,30
362544,578479,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-11-24 12:48:00,0.100,15858,UK,0.100,2011,11,24,12,Thursday,4,Low,Small,30
295561,572103,16048,TEATIME ROUND PENCIL SHARPENER,1,2011-10-20 15:57:00,0.120,17571,UK,0.120,2011,10,20,15,Thursday,4,Low,Small,31
94741,548711,47013A,WINE BOTTLE DRESSING LT.BLUE,1,2011-04-03 14:24:00,0.120,18116,UK,0.120,2011,4,3,14,Sunday,2,Low,Small,28
190331,561036,85204,HANGING WOOD AND FELT FLOWER,1,2011-07-24 11:54:00,0.120,13137,UK,0.120,2011,7,24,11,Sunday,3,Low,Small,28
293098,571909,16048,TEATIME ROUND PENCIL SHARPENER,1,2011-10-19 15:08:00,0.120,15006,UK,0.120,2011,10,19,15,Wednesday,4,Low,Small,31
110095,550651,21401,BLUE PUDDING SPOON,1,2011-04-19 16:52:00,0.120,15436,UK,0.120,2011,4,19,16,Tuesday,2,Low,Small,18
106591,550298,20668,DISCO BALL CHRISTMAS DECORATION,1,2011-04-15 16:11:00,0.120,17346,UK,0.120,2011,4,15,16,Friday,2,Low,Small,31
227006,565426,85204,HANGING WOOD AND FELT FLOWER,1,2011-09-04 12:41:00,0.120,12851,UK,0.120,2011,9,4,12,Sunday,3,Low,Small,28
276458,570238,16048,TEATIME ROUND PENCIL SHARPENER,1,2011-10-09 15:01:00,0.120,16332,UK,0.120,2011,10,9,15,Sunday,4,Low,Small,31
334097,575856,16219,HOUSE SHAPE PENCIL SHARPENER,2,2011-11-11 12:28:00,0.060,16386,UK,0.120,2011,11,11,12,Friday,4,Low,Small,28
184375,560359,16008,SMALL FOLDING SCISSOR(POINTED EDGE),1,2011-07-18 11:47:00,0.120,14159,UK,0.120,2011,7,18,11,Monday,3,Low,Small,35
177060,559525,21402,RED EGG SPOON,1,2011-07-10 10:30:00,0.120,16923,UK,0.120,2011,7,10,10,Sunday,3,Low,Small,15

part H

In [82]:
total_revenue = df['TotalPrice'].sum()
total_revenue

np.float64(8887208.894000003)

In [83]:
average_transaction_value = df['TotalPrice'].mean()
average_transaction_value

np.float64(22.629194702748958)

In [84]:
max_value = df['TotalPrice'].max()
min_value = df['TotalPrice'].min()

max_value, min_value

(168469.6, 0.0)

In [85]:
df['CustomerID'].nunique()

4339

In [86]:
df['StockCode'].nunique()

3665

In [87]:
df['Country'].nunique()

37

In [88]:
df.groupby('InvoiceNo')['Quantity'].sum().mean()

np.float64(278.6947561501942)

In [89]:
df['ProductName'].value_counts().head(1)

ProductName
WHITE HANGING HEART T-LIGHT HOLDER    2016
Name: count, dtype: int64

part I

In [90]:
country_revenue = df.groupby('Country')['TotalPrice'].sum()
country_revenue

Country
Australia                138453.810
Austria                   10198.680
Bahrain                     548.400
Belgium                   41196.340
Brazil                     1143.600
Canada                     3666.380
Channel Islands           20440.540
Cyprus                    13502.850
Czech Republic              826.740
Denmark                   18955.340
European Community         1300.250
Finland                   22546.080
France                   208934.310
Germany                  228678.400
Greece                     4760.520
Iceland                    4310.000
Ireland                  265262.460
Israel                     7215.840
Italy                     17483.240
Japan                     37416.370
Lebanon                    1693.880
Lithuania                  1661.060
Malta                      2725.590
Netherlands              285446.340
Norway                    36165.440
Poland                     7334.650
Portugal                  33375.840
RSA                        1002.310
Saudi Arabia                145.920
Singapore                 21279.290
Spain                     61558.560
Sweden                    38367.830
Switzerland               56443.950
UK                      7285024.644
USA                        3580.390
United Arab Emirates       1902.280
Unspecified                2660.770
Name: TotalPrice, dtype: float64

In [91]:
country_revenue.sort_values(ascending=False).head(10)

Country
UK             7285024.644
Netherlands     285446.340
Ireland         265262.460
Germany         228678.400
France          208934.310
Australia       138453.810
Spain            61558.560
Switzerland      56443.950
Belgium          41196.340
Sweden           38367.830
Name: TotalPrice, dtype: float64

In [92]:
df.groupby('Country')['InvoiceNo'].nunique()

Country
Australia                  57
Austria                    17
Bahrain                     2
Belgium                    98
Brazil                      1
Canada                      6
Channel Islands            26
Cyprus                     16
Czech Republic              2
Denmark                    18
European Community          4
Finland                    41
France                    389
Germany                   457
Greece                      5
Iceland                     7
Ireland                   260
Israel                      5
Italy                      38
Japan                      19
Lebanon                     1
Lithuania                   4
Malta                       5
Netherlands                95
Norway                     36
Poland                     19
Portugal                   57
RSA                         1
Saudi Arabia                1
Singapore                   7
Spain                      90
Sweden                     36
Switzerland                51
UK                      16649
USA                         5
United Arab Emirates        3
Unspecified                 8
Name: InvoiceNo, dtype: int64

In [93]:
df.groupby('Country')['TotalPrice'].mean()

Country
Australia               116.937340
Austria                  25.624824
Bahrain                  32.258824
Belgium                  20.283772
Brazil                   35.737500
Canada                   24.280662
Channel Islands          27.363507
Cyprus                   22.392786
Czech Republic           33.069600
Denmark                  49.882474
European Community       21.670833
Finland                  32.913985
France                   25.091187
Germany                  25.332713
Greece                   32.831172
Iceland                  23.681319
Ireland                  36.699289
Israel                   29.452408
Italy                    23.064960
Japan                   116.561900
Lebanon                  37.641778
Lithuania                47.458857
Malta                    24.335625
Netherlands             120.798282
Norway                   33.736418
Poland                   22.226212
Portugal                 22.970296
RSA                      17.281207
Saudi Arabia             16.213333
Singapore                95.852658
Spain                    24.822000
Sweden                   85.261844
Switzerland              30.642752
UK                       20.860428
USA                      20.002179
United Arab Emirates     27.974706
Unspecified              11.040539
Name: TotalPrice, dtype: float64

In [94]:
df.groupby('Country')['TotalPrice'].mean().idxmax()

'Netherlands'

In [95]:
df.groupby('Country')['Quantity'].sum()

Country
Australia                 84199
Austria                    4881
Bahrain                     260
Belgium                   23237
Brazil                      356
Canada                     2763
Channel Islands            9485
Cyprus                     6340
Czech Republic              671
Denmark                    8235
European Community          499
Finland                   10704
France                   111429
Germany                  119156
Greece                     1557
Iceland                    2458
Ireland                  140383
Israel                     4043
Italy                      8112
Japan                     26016
Lebanon                     386
Lithuania                   652
Malta                       970
Netherlands              200937
Norway                    19338
Poland                     3684
Portugal                  16095
RSA                         352
Saudi Arabia                 80
Singapore                  5241
Spain                     27944
Sweden                    36078
Switzerland               30083
UK                      4254037
USA                        2458
United Arab Emirates        982
Unspecified                1785
Name: Quantity, dtype: int64

In [96]:
df.groupby('Country')['CustomerID'].nunique().idxmax()

'UK'

Part J

In [97]:
monthly_revenue = df.groupby(['Year', 'Month'])['TotalPrice'].sum()
monthly_revenue

Year  Month
2010  12        570422.730
2011  1         568101.310
      2         446084.920
      3         594081.760
      4         468374.331
      5         677355.150
      6         660046.050
      7         598962.901
      8         644051.040
      9         950690.202
      10       1035642.450
      11       1156205.610
      12        517190.440
Name: TotalPrice, dtype: float64

In [98]:
monthly_revenue.idxmax()

(np.int32(2011), np.int32(11))

In [99]:
df.groupby(['Year', 'Quarter'])['TotalPrice'].sum()

Year  Quarter
2010  4           570422.730
2011  1          1608267.990
      2          1805775.531
      3          2193704.143
      4          2709038.500
Name: TotalPrice, dtype: float64

In [100]:
df['DayOfWeek'].value_counts()

DayOfWeek
Thursday     79260
Wednesday    68043
Tuesday      65747
Monday       64237
Sunday       61214
Friday       54231
Name: count, dtype: int64

In [101]:
df.groupby('DayOfWeek')['TotalPrice'].mean().idxmax()

'Friday'

In [102]:
df.groupby('Hour')['TotalPrice'].sum()

Hour
6           4.250
7       31059.210
8      281997.790
9      842392.341
10    1259267.591
11    1101177.600
12    1373695.390
13    1168724.200
14     991992.821
15     963559.680
16     467380.560
17     233811.591
18     104744.990
19      48568.400
20      18832.480
Name: TotalPrice, dtype: float64

In [103]:
df.groupby('Year')['TotalPrice'].sum()

Year
2010     570422.730
2011    8316786.164
Name: TotalPrice, dtype: float64

In [104]:
monthly_revenue.pct_change() * 100

Year  Month
2010  12             NaN
2011  1        -0.406965
      2       -21.477928
      3        33.176831
      4       -21.159954
      5        44.618333
      6        -2.555395
      7        -9.254377
      8         7.527701
      9        47.611003
      10        8.935850
      11       11.641388
      12      -55.268299
Name: TotalPrice, dtype: float64

Part K

In [105]:
customer_spending = df.groupby('CustomerID')['TotalPrice'].sum()

In [106]:
customer_spending.sort_values(ascending=False).head(20)

CustomerID
14646    280206.02
18102    259657.30
17450    194390.79
16446    168472.50
14911    143711.17
12415    124914.53
14156    117210.08
17511     91062.38
16029     80850.84
12346     77183.60
16684     66653.56
14096     65164.79
13694     65039.62
15311     60632.75
13089     58762.08
17949     58510.48
15769     56252.72
15061     54534.14
14298     51527.30
14088     50491.81
Name: TotalPrice, dtype: float64

In [107]:
df.groupby('CustomerID')['InvoiceNo'].nunique()

CustomerID
12346     1
12347     7
12348     4
12349     1
12350     1
         ..
18280     1
18281     1
18282     2
18283    16
18287     3
Name: InvoiceNo, Length: 4339, dtype: int64

In [108]:
df.groupby('CustomerID')['TotalPrice'].mean()

CustomerID
12346    77183.600000
12347       23.681319
12348       57.975484
12349       24.076027
12350       19.670588
             ...
18280       18.060000
18281       11.545714
18282       14.837500
18283        2.837074
18287       26.246857
Name: TotalPrice, Length: 4339, dtype: float64

In [109]:
one_time_customers = df.groupby('CustomerID')['InvoiceNo'].nunique()
one_time_customers[one_time_customers == 1]

CustomerID
12346    1
12349    1
12350    1
12353    1
12354    1
        ..
18276    1
18277    1
18278    1
18280    1
18281    1
Name: InvoiceNo, Length: 1494, dtype: int64

In [110]:
customer_spending[customer_spending > 10000]

CustomerID
12346     77183.60
12409     11072.67
12415    124914.53
12433     13375.87
12471     19788.65
           ...
17841     40519.84
17857     26879.04
17865     10526.32
17949     58510.48
18102    259657.30
Name: TotalPrice, Length: 104, dtype: float64

In [111]:
df_sorted = df.sort_values(['CustomerID', 'InvoiceDate'])
df_sorted['PrevDate'] = df_sorted.groupby('CustomerID')['InvoiceDate'].shift()
df_sorted['GapDays'] = (df_sorted['InvoiceDate'] - df_sorted['PrevDate']).dt.days

df_sorted.groupby('CustomerID')['GapDays'].mean()

CustomerID
12346          NaN
12347     2.000000
12348     9.400000
12349     0.000000
12350     0.000000
           ...
18280     0.000000
18281     0.000000
18282    10.727273
18283     0.454167
18287     2.275362
Name: GapDays, Length: 4339, dtype: float64

Part L

In [112]:
df.groupby('ProductName')['TotalPrice'].sum().sort_values(ascending=False).head(20)

ProductName
PAPER CRAFT , LITTLE BIRDIE           168469.60
REGENCY CAKESTAND 3 TIER              142264.75
WHITE HANGING HEART T-LIGHT HOLDER    100392.10
JUMBO BAG RED RETROSPOT                85040.54
MEDIUM CERAMIC TOP STORAGE JAR         81416.73
POSTAGE                                77803.96
PARTY BUNTING                          68785.23
ASSORTED COLOUR BIRD ORNAMENT          56413.03
MANUAL                                 53419.93
RABBIT NIGHT LIGHT                     51251.24
CHILLI LIGHTS                          46265.11
PAPER CHAIN KIT 50'S CHRISTMAS         42584.13
PICNIC BASKET WICKER 60 PIECES         39619.50
BLACK RECORD COVER FRAME               39045.80
JUMBO BAG PINK POLKADOT                37254.36
DOORMAT KEEP CALM AND COME IN          35880.85
SPOTTY BUNTING                         35509.55
WOOD BLACK BOARD ANT WHITE FINISH      34414.71
SET OF 3 CAKE TINS PANTRY DESIGN       33298.30
JAM MAKING SET WITH JARS               32616.22
Name: TotalPrice, dtype: float64

In [113]:
df.groupby('ProductName')['Quantity'].sum().sort_values(ascending=False).head(20)

ProductName
PAPER CRAFT , LITTLE BIRDIE           80995
MEDIUM CERAMIC TOP STORAGE JAR        77916
WORLD WAR 2 GLIDERS ASSTD DESIGNS     54319
JUMBO BAG RED RETROSPOT               46078
WHITE HANGING HEART T-LIGHT HOLDER    36706
ASSORTED COLOUR BIRD ORNAMENT         35263
PACK OF 72 RETROSPOT CAKE CASES       33670
POPCORN HOLDER                        30919
RABBIT NIGHT LIGHT                    27153
MINI PAINT SET VINTAGE                26076
PACK OF 12 LONDON TISSUES             25329
PACK OF 60 PINK PAISLEY CAKE CASES    24230
BROCADE RING PURSE                    22927
VICTORIAN GLASS HANGING T-LIGHT       22404
ASSORTED COLOURS SILK FAN             21876
RED  HARMONICA IN BOX                 20945
JUMBO BAG PINK POLKADOT               20148
SMALL POPCORN HOLDER                  18241
60 TEATIME FAIRY CAKE CASES           17664
LUNCH BAG RED RETROSPOT               17576
Name: Quantity, dtype: int64

In [114]:
df.groupby('ProductName')['UnitPrice'].mean()

ProductName
 4 PURPLE FLOCK DINNER CANDLES       2.312162
 50'S CHRISTMAS GIFT BAG LARGE       1.248073
 DOLLY GIRL BEAKER                   1.243704
 I LOVE LONDON MINI BACKPACK         4.138406
 I LOVE LONDON MINI RUCKSACK         4.150000
                                      ...
ZINC T-LIGHT HOLDER STARS SMALL      0.836975
ZINC TOP  2 DOOR WOODEN SHELF       16.950000
ZINC WILLIE WINKIE  CANDLE STICK     0.872461
ZINC WIRE KITCHEN ORGANISER          7.175000
ZINC WIRE SWEETHEART LETTER TRAY     3.454000
Name: UnitPrice, Length: 3877, dtype: float64

In [115]:
df.groupby('ProductName')['Country'].nunique().loc[lambda x: x > 10]

ProductName
 DOLLY GIRL BEAKER                     11
 SPACEBOY BABY GIFT SET                13
10 COLOUR SPACEBOY PEN                 12
12 PENCIL SMALL TUBE WOODLAND          11
12 PENCILS SMALL TUBE RED RETROSPOT    11
                                       ..
WRAP PAISLEY PARK                      14
WRAP RED APPLES                        14
WRAP RED VINTAGE DOILY                 12
ZINC FOLKART SLEIGH BELLS              11
ZINC METAL HEART DECORATION            11
Name: Country, Length: 496, dtype: int64

In [116]:
df.loc[df['UnitPrice'].idxmax()]
df.loc[df['UnitPrice'].idxmin()]

InvoiceNo                                537197
StockCode                                 22841
ProductName        ROUND CAKE TIN VINTAGE GREEN
Quantity                                      1
InvoiceDate                 2010-12-05 14:02:00
UnitPrice                                   0.0
CustomerID                                12647
Country                                 Germany
TotalPrice                                  0.0
Year                                       2010
Month                                        12
Day                                           5
Hour                                         14
DayOfWeek                                Sunday
Quarter                                       4
RevenueCategory                             Low
OrderSize                                 Small
PrdtNameLen                                  28
Name: 6744, dtype: object

Part M

In [117]:
df.groupby(['Country', 'Year'])['TotalPrice'].sum()

Country               Year
Australia             2010        965.350
                      2011     137488.460
Austria               2010        277.200
                      2011       9921.480
Bahrain               2011        548.400
Belgium               2010       1809.910
                      2011      39386.430
Brazil                2011       1143.600
Canada                2011       3666.380
Channel Islands       2010        363.530
                      2011      20077.010
Cyprus                2010       1587.070
                      2011      11915.780
Czech Republic        2011        826.740
Denmark               2010       1281.500
                      2011      17673.840
European Community    2011       1300.250
Finland               2010        892.800
                      2011      21653.280
France                2010       9616.310
                      2011     199318.000
Germany               2010      15205.740
                      2011     213472.660
Greece                2011       4760.520
Iceland               2010        711.790
                      2011       3598.210
Ireland               2010       8813.880
                      2011     256448.580
Israel                2011       7215.840
Italy                 2010        811.500
                      2011      16671.740
Japan                 2010       7705.070
                      2011      29711.300
Lebanon               2011       1693.880
Lithuania             2010       1661.060
Malta                 2011       2725.590
Netherlands           2010       8784.480
                      2011     276661.860
Norway                2010       3787.120
                      2011      32378.320
Poland                2010        248.160
                      2011       7086.490
Portugal              2010       2439.970
                      2011      30935.870
RSA                   2011       1002.310
Saudi Arabia          2011        145.920
Singapore             2011      21279.290
Spain                 2010       1843.730
                      2011      59714.830
Sweden                2010       3834.300
                      2011      34533.530
Switzerland           2010       1304.920
                      2011      55139.030
UK                    2010     496477.340
                      2011    6788547.304
USA                   2011       3580.390
United Arab Emirates  2011       1902.280
Unspecified           2011       2660.770
Name: TotalPrice, dtype: float64

In [118]:
df.groupby(['Country', 'Quarter'])['TotalPrice'].mean()

Country               Quarter
Australia             1          126.349136
                      2          130.255855
                      3           88.479103
                      4          134.886170
Austria               1           57.089231
                                    ...
USA                   4           20.359490
United Arab Emirates  1           29.641333
                      3           26.658947
Unspecified           2           18.577222
                      3            7.829645
Name: TotalPrice, Length: 117, dtype: float64

In [119]:
df.groupby(['Country', 'Month'])['InvoiceNo'].nunique()

Country      Month
Australia    1        9
             2        5
             3        3
             4        2
             5        4
                     ..
Unspecified  4        1
             5        1
             6        1
             7        3
             8        2
Name: InvoiceNo, Length: 271, dtype: int64

In [120]:
df.groupby(['DayOfWeek', 'Hour'])['TotalPrice'].sum()

DayOfWeek  Hour
Friday     7        17284.880
           8        52656.610
           9       296376.831
           10      182871.600
           11      166546.630
                      ...
Wednesday  15      160053.320
           16       81464.310
           17       23428.060
           19        2893.400
           20       13031.500
Name: TotalPrice, Length: 73, dtype: float64

In [121]:
df.groupby('Country')['TotalPrice'].agg(['sum', 'mean', 'max', 'min'])

                              sum        mean        max    min
Country
Australia              138453.810  116.937340    1718.40   0.00
Austria                 10198.680   25.624824     360.00   2.88
Bahrain                   548.400   32.258824     120.00  11.60
Belgium                 41196.340   20.283772     165.00   2.50
Brazil                   1143.600   35.737500     175.20  15.00
Canada                   3666.380   24.280662     550.94   2.50
Channel Islands         20440.540   27.363507     408.00   4.56
Cyprus                  13502.850   22.392786     320.69   0.83
Czech Republic            826.740   33.069600      70.80  10.08
Denmark                 18955.340   49.882474     428.40   4.68
European Community       1300.250   21.670833      60.00   7.80
Finland                 22546.080   32.913985     551.20   2.34
France                 208934.310   25.091187    4161.06   0.00
Germany                228678.400   25.332713     876.00   0.00
Greece                   4760.520   32.831172     175.20   3.36
Iceland                  4310.000   23.681319     249.60   5.04
Ireland                265262.460   36.699289    2365.20   0.00
Israel                   7215.840   29.452408     350.40   0.95
Italy                   17483.240   23.064960     300.00   2.88
Japan                   37416.370  116.561900    3794.40   0.29
Lebanon                  1693.880   37.641778     153.00  10.20
Lithuania                1661.060   47.458857     122.40  13.20
Malta                    2725.590   24.335625     455.00   2.28
Netherlands            285446.340  120.798282    4992.00   0.00
Norway                  36165.440   33.736418     700.00   0.00
Poland                   7334.650   22.226212     120.00   6.60
Portugal                33375.840   22.970296    1241.98   0.29
RSA                      1002.310   17.281207      38.25   0.00
Saudi Arabia              145.920   16.213333      19.80   5.04
Singapore               21279.290   95.852658    3949.32   2.34
Spain                   61558.560   24.822000    1350.00   0.00
Sweden                  38367.830   85.261844    1188.00   5.04
Switzerland             56443.950   30.642752     360.00   0.00
UK                    7285024.644   20.860428  168469.60   0.00
USA                      3580.390   20.002179      81.36   1.25
United Arab Emirates     1902.280   27.974706     153.00   3.48
Unspecified              2660.770   11.040539      69.36   0.19

In [122]:
df.groupby('CustomerID').agg(
    TotalSpending=('TotalPrice', 'sum'),
    Orders=('InvoiceNo', 'nunique'),
    AvgOrderValue=('TotalPrice', 'mean')
)

            TotalSpending  Orders  AvgOrderValue
CustomerID
12346            77183.60       1   77183.600000
12347             4310.00       7      23.681319
12348             1797.24       4      57.975484
12349             1757.55       1      24.076027
12350              334.40       1      19.670588
...                   ...     ...            ...
18280              180.60       1      18.060000
18281               80.82       1      11.545714
18282              178.05       2      14.837500
18283             2045.53      16       2.837074
18287             1837.28       3      26.246857

[4339 rows x 3 columns]

In [123]:
df.groupby('ProductName').agg(
    TotalQuantity=('Quantity', 'sum'),
    TotalRevenue=('TotalPrice', 'sum')
)

                                  TotalQuantity  TotalRevenue
ProductName
 4 PURPLE FLOCK DINNER CANDLES              138        265.66
 50'S CHRISTMAS GIFT BAG LARGE             1885       2272.25
 DOLLY GIRL BEAKER                         2394       2754.50
 I LOVE LONDON MINI BACKPACK                359       1449.85
 I LOVE LONDON MINI RUCKSACK                  1          4.15
...                                         ...           ...
ZINC T-LIGHT HOLDER STARS SMALL            4894       3879.98
ZINC TOP  2 DOOR WOODEN SHELF                10        169.50
ZINC WILLIE WINKIE  CANDLE STICK           2606       2176.10
ZINC WIRE KITCHEN ORGANISER                  25        156.80
ZINC WIRE SWEETHEART LETTER TRAY             80        253.24

[3877 rows x 2 columns]

Part N

In [124]:
pd.pivot_table(df, values='TotalPrice', index='Country', columns='Month', aggfunc='sum')

Month,1,2,3,4,5,6,7,8,9,10,11,12
Country,,,,,,,,,,,,
Australia,9017.71,14695.42,17223.99,771.600,13638.41,25187.77,4964.380,22489.20,5106.730,17150.53,7242.72,965.35
Austria,NaN,518.36,1708.12,680.780,1249.43,NaN,1191.950,1516.08,NaN,1043.78,1329.78,960.40
Bahrain,NaN,NaN,NaN,NaN,548.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Belgium,1200.20,2181.07,3351.98,1989.480,2732.40,4274.82,2475.570,3554.02,4208.020,5685.38,6315.76,3227.64
Brazil,NaN,NaN,NaN,1143.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Canada,NaN,NaN,140.54,NaN,534.24,1171.46,1768.580,51.56,NaN,NaN,NaN,NaN
Channel Islands,675.58,1784.71,3509.33,293.000,1207.24,2060.03,NaN,4886.88,1323.750,2623.32,1514.77,561.93
Cyprus,547.50,4334.24,938.39,NaN,NaN,1109.32,NaN,NaN,196.350,4350.32,439.66,1587.07
Czech Republic,NaN,549.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,277.48,NaN,NaN
Denmark,NaN,399.22,3978.99,NaN,515.70,3261.15,376.240,213.15,4570.160,1490.76,2699.57,1450.40
European Community,NaN,NaN,NaN,191.400,NaN,432.05,676.800,NaN,NaN,NaN,NaN,NaN
Finland,889.02,205.16,5936.82,1688.920,NaN,329.56,2996.730,1376.50,1105.450,2822.12,3070.24,2125.56
France,17740.12,8515.96,14584.95,5529.610,17606.48,16078.97,10000.190,13810.96,23428.040,33471.05,31274.75,16893.23
Germany,16880.84,9581.05,14392.69,12315.540,25734.70,13246.35,16440.980,19220.77,18079.470,31628.42,27967.68,23189.91
Greece,2661.24,NaN,387.31,609.740,NaN,NaN,421.240,NaN,NaN,NaN,NaN,680.99
Iceland,475.39,NaN,NaN,636.250,NaN,382.52,NaN,584.91,NaN,1294.32,NaN,936.61
Ireland,21904.19,10111.52,21674.36,7570.500,15977.15,19835.99,40854.150,16957.83,40832.640,24302.92,29448.41,15792.80
Israel,NaN,779.10,NaN,NaN,NaN,NaN,1430.750,4873.81,NaN,132.18,NaN,NaN
Italy,2402.51,256.00,1806.81,737.830,587.45,202.07,147.100,1990.95,279.800,3489.69,4571.08,1011.95
Japan,NaN,5780.81,48.90,6548.500,1351.45,1607.04,3854.400,NaN,112.080,1948.04,8460.08,7705.07
Lebanon,1693.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1661.06
Malta,NaN,NaN,NaN,NaN,NaN,863.16,NaN,1119.00,NaN,NaN,743.43,NaN
Netherlands,26611.16,23011.91,22416.49,2976.560,29185.88,26858.09,26.020,40327.81,26937.260,40708.65,25874.01,20512.50
Norway,NaN,630.90,1265.31,NaN,NaN,5886.86,890.070,2025.81,8678.940,3687.23,6527.50,6572.82
Poland,613.22,604.05,317.78,705.840,1522.37,343.65,687.300,401.80,529.250,NaN,1361.23,248.16
Portugal,4055.71,1213.90,2660.85,1687.750,4202.23,884.46,2287.850,1221.40,1433.220,5877.01,2603.30,5248.16
RSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1002.31,NaN,NaN
Saudi Arabia,NaN,145.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Singapore,2053.07,NaN,NaN,8209.580,NaN,NaN,3949.320,NaN,NaN,7067.32,NaN,NaN
Spain,10086.09,2114.50,5363.15,1785.650,3257.60,3333.21,7620.770,3342.41,5189.240,8636.94,8669.06,2159.94
Sweden,3486.32,509.50,4720.58,809.100,2681.98,832.00,6802.090,1390.36,4575.210,5766.16,2722.23,4072.30
Switzerland,4231.23,2654.92,1870.23,2076.940,3610.01,7904.15,3762.650,4969.89,8284.860,7655.19,8118.96,1304.92
UK,440876.33,354618.20,465784.19,408733.111,550359.35,523775.59,484545.591,497194.91,794806.692,821220.13,975251.39,967859.16
USA,NaN,NaN,NaN,383.950,NaN,NaN,NaN,NaN,NaN,2311.20,NaN,885.24
United Arab Emirates,NaN,889.24,NaN,NaN,NaN,NaN,NaN,NaN,1013.040,NaN,NaN,NaN
Unspecified,NaN,NaN,NaN,299.100,852.68,185.78,792.180,531.03,NaN,NaN,NaN,NaN

In [125]:
pd.pivot_table(df, values='Quantity', index='Country', columns='Quarter', aggfunc='mean')

Quarter                        1           2          3          4
Country
Australia              76.429012   83.174342  59.692935  64.808511
Austria                33.948718   10.220779   9.531469  10.122302
Bahrain                      NaN   15.294118        NaN        NaN
Belgium                10.943452   10.663286  11.298419  12.336207
Brazil                       NaN   11.125000        NaN        NaN
Canada                  8.800000   27.517241  13.000000        NaN
Channel Islands        14.855856    9.330645  13.563725  11.487310
Cyprus                 15.181818    7.574468  33.000000   7.794030
Czech Republic         23.066667         NaN        NaN  32.500000
Denmark                28.282051   15.296000  27.683544  22.138686
European Community           NaN    5.290323  11.551724        NaN
Finland                14.523207   18.396226  14.016949  17.458716
France                 14.319975   14.233399  12.955718  12.760946
Germany                12.749697   14.133297  12.878070  13.125195
Greece                 15.092593    8.451613  10.166667   6.555556
Iceland                10.862069   16.166667  12.590909  13.337079
Ireland                21.918970   17.206720  23.095698  16.280411
Israel                 17.875000         NaN  18.489899   3.096774
Italy                   9.411765   17.727273  10.491379  10.443864
Japan                  29.900990  172.765625  57.488372  83.778761
Lebanon                 8.577778         NaN        NaN        NaN
Lithuania                    NaN         NaN        NaN  18.628571
Malta                        NaN    8.933333   6.945455  15.500000
Netherlands            85.060956   73.619893  88.712406  91.773071
Norway                  8.200000   12.102410  17.917683  21.034417
Poland                 12.048387   10.263636   9.202532  13.683544
Portugal               14.802768    8.229268  16.475490   8.965563
RSA                          NaN         NaN        NaN   6.068966
Saudi Arabia            8.888889         NaN        NaN        NaN
Singapore              19.482143   24.368421  28.800000  17.676471
Spain                  10.692194   10.363874  11.532836  12.013351
Sweden                108.074074   40.306818  89.000000  80.786667
Switzerland            15.943574   19.960674  15.158974  15.503436
UK                     12.944398   12.175811  13.062659  11.344858
USA                          NaN    6.227273        NaN  14.783439
United Arab Emirates   16.533333         NaN  12.789474        NaN
Unspecified                  NaN   14.083333   4.562130        NaN

In [126]:
pd.pivot_table(df, values='InvoiceNo', index='Country', columns='RevenueCategory', aggfunc='count')

RevenueCategory         High       Low    Medium
Country
Australia              445.0      85.0     654.0
Austria                 13.0      37.0     348.0
Bahrain                  1.0       NaN      16.0
Belgium                 16.0     209.0    1806.0
Brazil                   1.0       NaN      31.0
Canada                   2.0      19.0     130.0
Channel Islands         22.0      20.0     705.0
Cyprus                  14.0     142.0     447.0
Czech Republic           NaN       NaN      25.0
Denmark                 43.0      28.0     309.0
European Community       NaN       1.0      59.0
Finland                 42.0      66.0     577.0
France                 165.0    1285.0    6877.0
Germany                246.0    1157.0    7624.0
Greece                  12.0      17.0     116.0
Iceland                  3.0      13.0     166.0
Ireland                457.0     795.0    5976.0
Israel                  14.0      52.0     179.0
Italy                    8.0      44.0     706.0
Japan                  126.0      58.0     137.0
Lebanon                  3.0       NaN      42.0
Lithuania                1.0       NaN      34.0
Malta                    2.0      12.0      98.0
Netherlands           1132.0     202.0    1029.0
Norway                  43.0      60.0     969.0
Poland                   2.0      25.0     303.0
Portugal                23.0     354.0    1076.0
RSA                      NaN       4.0      54.0
Saudi Arabia             NaN       1.0       8.0
Singapore               16.0      13.0     193.0
Spain                   73.0     638.0    1769.0
Sweden                 136.0      28.0     286.0
Switzerland             95.0     149.0    1598.0
UK                    8493.0  164380.0  176354.0
USA                      NaN      22.0     157.0
United Arab Emirates     1.0       7.0      60.0
Unspecified              NaN     126.0     115.0

Part O

In [127]:
monthly_total = df.groupby(['Year','Month'])['TotalPrice'].transform('sum')
df['MonthlyRevenuePct'] = (df['TotalPrice'] / monthly_total) * 100

In [128]:
monthly_total

0         570422.73
1         570422.73
2         570422.73
3         570422.73
4         570422.73
            ...
392727    517190.44
392728    517190.44
392729    517190.44
392730    517190.44
392731    517190.44
Name: TotalPrice, Length: 392732, dtype: float64

In [129]:
df['CustomerRank'] = df.groupby('CustomerID')['TotalPrice'] \
                         .transform('sum') \
                         .rank(ascending=False)

In [130]:
df = df.sort_values('InvoiceDate')
df['CumulativeRevenue'] = df['TotalPrice'].cumsum()

Part P

In [131]:
df_2010 = df[df['Year'] == 2010]
df_2011 = df[df['Year'] == 2011]

df_combined = pd.concat([df_2010, df_2011])

In [132]:
df_combined

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,...,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,PrdtNameLen,MonthlyRevenuePct,CustomerRank,CumulativeRevenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,...,1,8,Wednesday,4,Medium,Medium,34,0.002682,113228.0,1.530000e+01
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,1,8,Wednesday,4,Medium,Medium,19,0.003566,113228.0,3.564000e+01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,...,1,8,Wednesday,4,Medium,Medium,30,0.003857,113228.0,5.764000e+01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,1,8,Wednesday,4,Medium,Medium,35,0.003566,113228.0,7.798000e+01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,1,8,Wednesday,4,Medium,Medium,30,0.003566,113228.0,9.832000e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392719,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,...,9,12,Friday,4,Medium,Medium,25,0.003828,315020.5,8.887143e+06
392718,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,...,9,12,Friday,4,Medium,Medium,30,0.003828,315020.5,8.887162e+06
392730,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,...,9,12,Friday,4,Medium,Small,31,0.003210,315020.5,8.887179e+06
392723,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680,France,15.00,2011,...,9,12,Friday,4,Medium,Small,26,0.002900,315020.5,8.887194e+06
392731,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,...,9,12,Friday,4,Medium,Small,29,0.002871,315020.5,8.887209e+06

In [133]:
uk = df[df['Country'] == 'UK']
non_uk = df[df['Country'] != 'UK']

uk['Region'] = 'UK'
non_uk['Region'] = 'Non-UK'

pd.concat([uk, non_uk])

/tmp/ipython-input-335929201.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uk['Region'] = 'UK'
/tmp/ipython-input-335929201.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_uk['Region'] = 'Non-UK'

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,...,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,PrdtNameLen,MonthlyRevenuePct,CustomerRank,CumulativeRevenue,Region
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,...,8,Wednesday,4,Medium,Medium,34,0.002682,113228.0,1.530000e+01,UK
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,8,Wednesday,4,Medium,Medium,19,0.003566,113228.0,3.564000e+01,UK
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,...,8,Wednesday,4,Medium,Medium,30,0.003857,113228.0,5.764000e+01,UK
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,8,Wednesday,4,Medium,Medium,35,0.003566,113228.0,7.798000e+01,UK
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,8,Wednesday,4,Medium,Medium,30,0.003566,113228.0,9.832000e+01,UK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392719,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,...,12,Friday,4,Medium,Medium,25,0.003828,315020.5,8.887143e+06,Non-UK
392718,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,...,12,Friday,4,Medium,Medium,30,0.003828,315020.5,8.887162e+06,Non-UK
392730,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,...,12,Friday,4,Medium,Small,31,0.003210,315020.5,8.887179e+06,Non-UK
392723,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680,France,15.00,2011,...,12,Friday,4,Medium,Small,26,0.002900,315020.5,8.887194e+06,Non-UK
392731,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,...,12,Friday,4,Medium,Small,29,0.002871,315020.5,8.887209e+06,Non-UK

Part Q

In [134]:
customer_info = pd.DataFrame({
    'CustomerID': df['CustomerID'].unique(),
    'CustomerName': ['Customer_' + str(i) for i in df['CustomerID'].unique()],
    'MembershipLevel': ['Gold'] * len(df['CustomerID'].unique()),
    'JoinDate': pd.to_datetime('2010-01-01')
})

In [135]:
customer_info

      CustomerID    CustomerName MembershipLevel   JoinDate
0          17850  Customer_17850            Gold 2010-01-01
1          13047  Customer_13047            Gold 2010-01-01
2          12583  Customer_12583            Gold 2010-01-01
3          13748  Customer_13748            Gold 2010-01-01
4          15100  Customer_15100            Gold 2010-01-01
...          ...             ...             ...        ...
4334       13436  Customer_13436            Gold 2010-01-01
4335       15520  Customer_15520            Gold 2010-01-01
4336       13298  Customer_13298            Gold 2010-01-01
4337       14569  Customer_14569            Gold 2010-01-01
4338       12713  Customer_12713            Gold 2010-01-01

[4339 rows x 4 columns]

In [136]:
df = df.merge(customer_info, on='CustomerID', how='left')

In [137]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,...,Quarter,RevenueCategory,OrderSize,PrdtNameLen,MonthlyRevenuePct,CustomerRank,CumulativeRevenue,CustomerName,MembershipLevel,JoinDate
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,...,4,Medium,Medium,34,0.002682,113228.0,1.530000e+01,Customer_17850,Gold,2010-01-01
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,4,Medium,Medium,19,0.003566,113228.0,3.564000e+01,Customer_17850,Gold,2010-01-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,...,4,Medium,Medium,30,0.003857,113228.0,5.764000e+01,Customer_17850,Gold,2010-01-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,4,Medium,Medium,35,0.003566,113228.0,7.798000e+01,Customer_17850,Gold,2010-01-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,4,Medium,Medium,30,0.003566,113228.0,9.832000e+01,Customer_17850,Gold,2010-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392727,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,...,4,Medium,Medium,25,0.003828,315020.5,8.887143e+06,Customer_12680,Gold,2010-01-01
392728,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,...,4,Medium,Medium,30,0.003828,315020.5,8.887162e+06,Customer_12680,Gold,2010-01-01
392729,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,...,4,Medium,Small,31,0.003210,315020.5,8.887179e+06,Customer_12680,Gold,2010-01-01
392730,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680,France,15.00,2011,...,4,Medium,Small,26,0.002900,315020.5,8.887194e+06,Customer_12680,Gold,2010-01-01
392731,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,...,4,Medium,Small,29,0.002871,315020.5,8.887209e+06,Customer_12680,Gold,2010-01-01

In [138]:
product_category = pd.DataFrame({
    'StockCode': df['StockCode'].unique(),
    'Category': 'Home'
})

In [139]:
product_category

     StockCode Category
0       85123A     Home
1        71053     Home
2       84406B     Home
3       84029G     Home
4       84029E     Home
...        ...      ...
3660    90214W     Home
3661    90214Z     Home
3662    90214T     Home
3663     90089     Home
3664     23843     Home

[3665 rows x 2 columns]

In [140]:
df.merge(product_category, on='StockCode') \
  .groupby('Category')['TotalPrice'].sum()

Category
Home    8887208.894
Name: TotalPrice, dtype: float64

In [141]:
df.groupby('MembershipLevel')['TotalPrice'].sum()

MembershipLevel
Gold    8887208.894
Name: TotalPrice, dtype: float64

In [142]:
df.merge(product_category, on='StockCode') \
  .groupby(['Country','Category'])['Quantity'].sum()

Country               Category
Australia             Home          84199
Austria               Home           4881
Bahrain               Home            260
Belgium               Home          23237
Brazil                Home            356
Canada                Home           2763
Channel Islands       Home           9485
Cyprus                Home           6340
Czech Republic        Home            671
Denmark               Home           8235
European Community    Home            499
Finland               Home          10704
France                Home         111429
Germany               Home         119156
Greece                Home           1557
Iceland               Home           2458
Ireland               Home         140383
Israel                Home           4043
Italy                 Home           8112
Japan                 Home          26016
Lebanon               Home            386
Lithuania             Home            652
Malta                 Home            970
Netherlands           Home         200937
Norway                Home          19338
Poland                Home           3684
Portugal              Home          16095
RSA                   Home            352
Saudi Arabia          Home             80
Singapore             Home           5241
Spain                 Home          27944
Sweden                Home          36078
Switzerland           Home          30083
UK                    Home        4254037
USA                   Home           2458
United Arab Emirates  Home            982
Unspecified           Home           1785
Name: Quantity, dtype: int64

Part R

In [143]:
import numpy as np

In [144]:
qty = df['Quantity'].to_numpy()
price = df['UnitPrice'].to_numpy()

In [145]:
qty*price

array([15.3 , 20.34, 22.  , ..., 16.6 , 15.  , 14.85])

In [146]:
randtranscid=np.random.randint(1, 100000, 1000)
randtranscid

array([88786, 81792, 75657, 90484, 88031, 51108, 19737,  3932, 46949,
       67226,  9759, 79164, 86517, 46833, 21486, 17638, 31401, 40283,
       99647, 71052, 41483, 10035, 38246, 89272, 66125, 59486, 94239,
        6774, 83351, 50588, 31308, 59374, 74101, 72001, 20169, 16253,
       54999,  7172, 76190, 66995, 71019, 50315, 27750, 97313, 59114,
       25973,  6141, 94217, 54134, 13230, 38991, 43873, 56267, 26172,
       60696, 83767, 97859, 73824,  5009, 10476, 75874, 24555, 18304,
       43398, 49793, 70249, 46982, 27108, 51309, 81935, 93796,  4052,
       74143,  6379, 76300, 32733, 83476, 25894, 33403, 69659, 72399,
       26612, 41492, 42792,  3826,  9303, 62404, 97615,  9198, 76743,
       74157, 70958, 36857, 43435, 80964, 46390, 10483,  2894, 16480,
       89115, 96431, 41815, 69338, 21947, 54058, 81521, 81771, 81822,
       60964, 46183, 38422, 27733, 15432, 14557, 32534, 38662,  8281,
       54715, 32113, 56900, 14193, 60775, 39770, 78016, 89912, 76120,
       10939, 40750, 14229, 28124,  7481, 15268, 91326,  3114, 30849,
       82850, 47719, 60202, 47954, 78898, 25627, 87653,  1208, 14213,
       96421, 11480, 35300, 46949, 96126, 28035, 73685, 64305, 27980,
        3589, 45757, 13244, 91737, 49679, 87999,   280, 32131, 66430,
       84128, 55475, 84095, 41990, 48701, 75224, 78676, 51990, 49030,
       23097, 54137, 99511,  9640, 37992, 93691, 91808, 50579, 88550,
       89184, 44463, 42135, 18626, 51783, 28339, 61930, 60572,  4066,
       13043, 66462, 56843, 50544, 83020,  2501, 45729, 40537, 71939,
       71624, 78331, 91578, 55753, 42236, 67368, 91877, 61750, 59499,
       24413, 86821, 51854, 65725, 83784, 63198, 81242, 91004, 82841,
       79777, 30478, 63472, 66442, 89098, 78125, 50431, 42019, 33454,
       54245, 71926, 92879, 76921, 49967, 50276, 68186, 92221,  7758,
       95695, 70875, 51745, 15119, 24970, 18392, 51844, 63103, 14980,
       66326, 53294, 11594, 52416, 26795, 24184, 30902, 77395, 72895,
        7339, 12063, 12025, 11571, 43230, 22619,  1476, 50444, 33823,
       11062, 37705, 96648, 77173, 88273, 54605, 52202, 75295,   515,
       38214, 20396, 19035, 50616, 71835, 41253, 11461, 13173, 12004,
       53807, 21898, 79107, 50648, 39660, 13719, 39673, 76537, 84139,
       74058, 32696, 57576, 33023, 44759, 80347, 90479, 18536, 30186,
       74425, 76391, 26584, 35701, 20472, 88988, 73654, 13922,  8914,
       84573, 17216, 27552, 35736, 94718, 72506, 32093, 54668, 23307,
       64962, 42002, 60088, 65818, 83074, 21061, 44119, 47285,  8795,
       62171, 10655, 69355,  6597, 48653, 66579, 90416, 23427, 34073,
       62737, 24652, 36924, 14206, 88532, 76881,  1089, 70373, 58401,
       55663, 79444,  1784, 59955, 71463, 78467, 18621, 61998, 58333,
       38790, 65591, 62651, 64297, 24103, 34817,  9447, 77793, 39382,
       17920, 48292, 16118, 94582, 36335, 13021, 99410,  8084, 54995,
       66804, 85290, 98574, 16066, 71802, 95174, 46200, 64488, 45783,
       14037, 32782, 32305,  1732, 88721, 56493, 89062, 77279, 29253,
       64250, 95128, 55973, 64140, 81121, 50237, 92748, 42396, 26920,
       25135, 31825, 33462, 61805, 88359, 83049, 20573, 25503,  1090,
       58876, 74642, 45361,  1909, 61588, 73871, 61152, 35695, 87687,
       37115, 89437, 90169, 54280,  1069, 14950, 39357, 49300, 82872,
       26231, 84637, 83230,  9013, 97529, 80581, 43210, 38648, 44060,
        7846, 60230, 62287, 39124, 64966, 81935, 49148,    28, 71593,
       58850, 77414, 21956, 51774, 63680, 41204, 78344, 47126, 74784,
       94728, 78809, 17209, 37991, 14677,  7113, 79639, 66046, 45902,
       18714,  4477, 97399, 39366, 73132, 14301, 98088, 82352, 48724,
        7112, 81419, 24929, 61227, 80928, 47855, 50179,  2880, 82459,
       59872, 53081, 42592, 25802, 65902, 45901, 68745, 53163, 72725,
       88103, 74048, 79752, 60704, 53335, 31028, 90558, 44978, 43855,
       18094, 94302, 60117, 95743, 51411, 56259, 79588, 44188, 72699,
       40710, 83352, 96740, 26970, 33251, 87169, 20229, 73657, 88967,
       96708,  4541, 20064, 21117, 27907, 28204, 50265, 91112, 69776,
       76894, 25739, 59890, 43832, 12709,  9502, 78228, 24704, 96262,
        3019, 94754, 12462, 39692, 82594,  9914, 70861, 75410,   292,
       84749, 10854, 85440, 12235, 57138, 32741,   399, 81691, 40797,
       33602, 86481, 93084, 68394, 53512, 72927, 39519, 73294, 16531,
       24787, 28479, 83640,  3689, 43061, 65971, 35928, 16317, 17666,
       88436, 81688, 65764, 44898, 41035, 74066, 78434, 92239, 77948,
       98644, 18823, 89201, 47392, 70597, 16433, 22632, 17907,  4577,
       20471, 42621, 17001, 31265, 69372, 40090, 34110, 37515, 67865,
       16158, 14815, 38507, 62863,  5901, 69254,  2496, 80234,  9436,
       58380, 55129, 94463, 19149, 39220, 36443, 59474, 85035, 84047,
       50382, 70814, 94827, 54821, 53661, 22929, 27186, 49563, 12345,
       31584,  5814, 74523, 43842,  2272,  4881, 14428, 68863, 54254,
       66340, 93662, 97689,     1, 15539, 72272, 90873, 96403, 93042,
       48128, 59002, 71981, 92354, 21271, 81351, 14228, 10686, 23747,
       13246, 73410, 43891, 62554, 12273, 39061, 41887, 90184, 44743,
       54662, 52556, 67031, 15249, 54970, 26192, 81223, 90073, 88251,
        2847, 48701, 74476,  9271, 96985,  8235, 77366, 58108, 43662,
       25166, 13956,  4654, 66280, 43563, 71232,  7946, 63093, 56686,
       30668, 64412, 36526, 66719, 58787, 92698, 47400, 87239, 47817,
       55650, 39303, 29311, 42561, 87862, 24746,  3134, 63477, 42873,
        6664, 55072, 89617, 69280, 55978, 79035, 39859, 27205, 53646,
       88410, 38858, 57738,  2577, 50509, 51303, 20210, 89051,  6058,
       55311, 64761, 41359, 38611, 45450, 40808, 85663, 13025, 21994,
       23945, 99497, 65622, 14937, 66821, 74560, 44394, 23785,  8505,
       17136, 99288, 99993, 53457, 88982, 61893, 46986, 35087,  1242,
        9170, 14377, 68663, 21890, 88764, 28326, 93330, 60009, 38367,
       90811, 81364, 94756, 95087, 84899, 52380, 50401, 45337, 24309,
       18728, 79035, 37725, 14203, 95955, 71233, 42187, 79219, 63473,
       19327, 49200, 74150, 79285, 42030, 82574, 19024, 88231, 51266,
       20498, 43190, 97159, 42552, 10916, 83558, 10639, 38689, 16898,
       94816, 86226,  9004, 70830, 73069, 19410, 32842, 34086, 68585,
       15158, 88297, 38739, 38409, 62432, 84781, 61210, 26924, 60201,
       89042, 14645,  4050, 51968, 64040, 48334, 52303, 24401, 37905,
       39336, 71492, 40837, 87514, 22504, 48193, 45883, 17082, 10384,
       48401, 18967, 54414, 10723, 37651, 33862, 86897, 84018,  6093,
       68167, 69966, 19374, 85930, 58940, 20734,  9426, 27792, 75795,
       16280, 30252, 48813, 52089, 16119, 32561, 32570, 34926,  3595,
        3502, 70598, 89074, 48156, 56717,  1414, 53721, 43898,  7012,
       25108, 93663,  8413, 40359, 14883,  3515, 52858, 87367,  3127,
       98759, 82572, 86988, 49397, 45420, 97979, 79666, 95771, 14582,
       54998,  1552, 72372, 98276, 11198, 94770, 18388, 79376, 42837,
       45576, 62684, 72102, 55794,  7134, 59331, 72156, 16040, 78053,
       51597, 98464, 73270, 57941, 35521, 73932, 51985, 32025, 86249,
       83786, 12420, 70867, 71301, 52130, 58019, 83930, 51583, 64231,
        2476,  5704, 51430, 24390, 94990, 65557, 84294,  7738, 94393,
       38067, 21833, 74487, 80960, 88601, 55180, 79711, 52351, 38452,
       16770, 77409, 51701, 93802, 16368, 73103, 54626, 52059, 55175,
       77094, 41562, 30281, 17978,  5460, 60160, 84359, 42432, 15717,
       93302, 93354,  4628, 35741, 23351, 53737,  5547, 40253, 33376,
       19094, 31735, 44999, 26366, 68557, 66786, 54608,  7102, 36539,
       15757, 35430,  6545, 99027, 91687, 83417, 83782, 48268, 79553,
       90895, 76730, 48116, 72210, 89161, 68557, 16177, 17163, 18785,
       71230, 35864, 30489, 14789, 56008, 11015, 47150, 86269, 78581,
       96087])

In [147]:
pricepoint=np.linspace(0, 500, 50)
pricepoint

array([  0.        ,  10.20408163,  20.40816327,  30.6122449 ,
        40.81632653,  51.02040816,  61.2244898 ,  71.42857143,
        81.63265306,  91.83673469, 102.04081633, 112.24489796,
       122.44897959, 132.65306122, 142.85714286, 153.06122449,
       163.26530612, 173.46938776, 183.67346939, 193.87755102,
       204.08163265, 214.28571429, 224.48979592, 234.69387755,
       244.89795918, 255.10204082, 265.30612245, 275.51020408,
       285.71428571, 295.91836735, 306.12244898, 316.32653061,
       326.53061224, 336.73469388, 346.93877551, 357.14285714,
       367.34693878, 377.55102041, 387.75510204, 397.95918367,
       408.16326531, 418.36734694, 428.57142857, 438.7755102 ,
       448.97959184, 459.18367347, 469.3877551 , 479.59183673,
       489.79591837, 500.        ])

In [148]:
monprod=np.zeros((12,7))
monprod

array([[0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.]])

In [149]:
maxqunatity=qty[qty > 100]
maxqunatity

array([120, 192, 192, ..., 180, 144, 144])

In [150]:
sqrtup=np.sqrt(price)
sqrtup

array([1.59687194, 1.84119526, 1.6583124 , ..., 2.03715488, 1.93649167,
       2.22485955])

In [151]:
perctprice=np.percentile(df['TotalPrice'], [25,50,75])
perctprice

array([ 4.95, 12.39, 19.8 ])

In [152]:
roundup=np.round(price)
roundup

array([3., 3., 3., ..., 4., 4., 5.])

In [153]:
maxqunt=np.where(qty == qty.max())
maxqunt

(array([392266]),)

In [154]:
qtupcorr=np.corrcoef(qty, price)
qtupcorr

array([[ 1.        , -0.00457678],
       [-0.00457678,  1.        ]])

In [155]:
normtp=(df['TotalPrice'] - df['TotalPrice'].mean()) / df['TotalPrice'].std()
normtp

0        -0.023560
1        -0.007359
2        -0.002023
3        -0.007359
4        -0.007359
            ...
392727   -0.009095
392728   -0.009095
392729   -0.019381
392730   -0.024525
392731   -0.025007
Name: TotalPrice, Length: 392732, dtype: float64

In [156]:
equalqunty=np.array_split(qty, 4)
equalqunty

[array([ 6,  6,  8, ...,  1, 12,  1]),
 array([10, 16,  2, ...,  1,  1,  6]),
 array([25,  1, 25, ..., 36, 10, 12]),
 array([ 4,  4, 24, ...,  4,  4,  3])]

In [157]:
df.to_csv('cleaned_data.csv', index=False)
df.to_excel('cleaned_data.xlsx', index=False)

with pd.ExcelWriter('report.xlsx') as writer:
    df.to_excel(writer, sheet_name='CleanedData', index=False)

In [166]:
country_summary = df.groupby('Country')['TotalPrice'].sum().reset_index()

monthly_summary = df.groupby(['Year', 'Month'])['TotalPrice'].sum().reset_index()

top_50_customers = (
    df.groupby('CustomerID')['TotalPrice']
    .sum()
    .sort_values(ascending=False)
    .head(50)
    .reset_index()
)

with pd.ExcelWriter('online_retail_report.xlsx') as writer:
    df.to_excel(writer, sheet_name='Cleaned_Data', index=False)
    country_summary.to_excel(writer, sheet_name='Country_Summary', index=False)
    monthly_summary.to_excel(writer, sheet_name='Monthly_Revenue', index=False)
    top_50_customers.to_excel(writer, sheet_name='Top_50_Customers', index=False)

In [ ]:
#read online_retail_report.xlsx
pd.read_excel('online_retail_report.xlsx')

In [167]:
#read online_retail_report.xlsx
pd.read_excel('online_retail_report.xlsx')

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,...,Quarter,RevenueCategory,OrderSize,PrdtNameLen,MonthlyRevenuePct,CustomerRank,CumulativeRevenue,CustomerName,MembershipLevel,JoinDate
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,...,4,Medium,Medium,34,0.002682,113228.0,1.530000e+01,Customer_17850,Gold,2010-01-01
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,4,Medium,Medium,19,0.003566,113228.0,3.564000e+01,Customer_17850,Gold,2010-01-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,...,4,Medium,Medium,30,0.003857,113228.0,5.764000e+01,Customer_17850,Gold,2010-01-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,4,Medium,Medium,35,0.003566,113228.0,7.798000e+01,Customer_17850,Gold,2010-01-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,4,Medium,Medium,30,0.003566,113228.0,9.832000e+01,Customer_17850,Gold,2010-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392727,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,...,4,Medium,Medium,25,0.003828,315020.5,8.887143e+06,Customer_12680,Gold,2010-01-01
392728,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,...,4,Medium,Medium,30,0.003828,315020.5,8.887162e+06,Customer_12680,Gold,2010-01-01
392729,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,...,4,Medium,Small,31,0.003210,315020.5,8.887179e+06,Customer_12680,Gold,2010-01-01
392730,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680,France,15.00,2011,...,4,Medium,Small,26,0.002900,315020.5,8.887194e+06,Customer_12680,Gold,2010-01-01
392731,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,...,4,Medium,Small,29,0.002871,315020.5,8.887209e+06,Customer_12680,Gold,2010-01-01

Warning: Total number of columns (24) exceeds max_columns (20) limiting to first (20) columns.
Warning: total number of rows (392732) exceeds max_rows (20000). Limiting to first (20000) rows.

In [159]:
insights = """Key Insights from Online Retail Data Analysis

â—½The business generated significant revenue concentration from a small set of countries, with the UK contributing the majority of total sales, followed by Germany and France.

â—½High-value transactions form a small percentage of total orders but contribute disproportionately to overall revenue, as seen from the top 5% (95th percentile) transactions.

â—½Sales activity is strongly time-dependent, with higher revenues observed during specific months (notably towards year-end) and peak purchasing hours during business hours.

â—½Weekdays generate higher average revenue than weekends, indicating stronger business-to-business or planned purchasing behavior.

â—½A small group of customers accounts for a large portion of total revenue, confirming the presence of high-value repeat customers.

â—½Most customers are one-time or low-frequency buyers, highlighting potential opportunities for customer retention strategies.

â—½Certain products dominate sales in terms of both quantity sold and revenue, while many products have relatively low sales frequency.

â—½Products sold across multiple countries tend to generate higher revenue, suggesting strong global demand for specific items.

â—½Order sizes are mostly small to medium, with large orders being less frequent but revenue-intensive.

â—½Data cleaning was critical: removing cancelled orders, returns, and invalid prices significantly improved the accuracy of revenue and customer analysis."""

with open("insights.txt", "w") as file:
    file.write(insights)

In [160]:
pd.read_csv('cleaned_data.csv')
pd.read_excel('cleaned_data.xlsx')

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,...,Quarter,RevenueCategory,OrderSize,PrdtNameLen,MonthlyRevenuePct,CustomerRank,CumulativeRevenue,CustomerName,MembershipLevel,JoinDate
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,...,4,Medium,Medium,34,0.002682,113228.0,1.530000e+01,Customer_17850,Gold,2010-01-01
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,4,Medium,Medium,19,0.003566,113228.0,3.564000e+01,Customer_17850,Gold,2010-01-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,...,4,Medium,Medium,30,0.003857,113228.0,5.764000e+01,Customer_17850,Gold,2010-01-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,4,Medium,Medium,35,0.003566,113228.0,7.798000e+01,Customer_17850,Gold,2010-01-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,4,Medium,Medium,30,0.003566,113228.0,9.832000e+01,Customer_17850,Gold,2010-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392727,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,...,4,Medium,Medium,25,0.003828,315020.5,8.887143e+06,Customer_12680,Gold,2010-01-01
392728,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,...,4,Medium,Medium,30,0.003828,315020.5,8.887162e+06,Customer_12680,Gold,2010-01-01
392729,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,...,4,Medium,Small,31,0.003210,315020.5,8.887179e+06,Customer_12680,Gold,2010-01-01
392730,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680,France,15.00,2011,...,4,Medium,Small,26,0.002900,315020.5,8.887194e+06,Customer_12680,Gold,2010-01-01
392731,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,...,4,Medium,Small,29,0.002871,315020.5,8.887209e+06,Customer_12680,Gold,2010-01-01

In [161]:
pivot_table = pd.pivot_table(
    df,
    values='TotalPrice',
    index='Country',
    columns='Month',
    aggfunc='sum'
)

pivot_table.to_excel('monthly_country_sales_pivot.xlsx')

In [162]:
with open('insights.txt', 'r') as f:
    content = f.read()

print(content)

Key Insights from Online Retail Data Analysis

â—½The business generated significant revenue concentration from a small set of countries, with the UK contributing the majority of total sales, followed by Germany and France.

â—½High-value transactions form a small percentage of total orders but contribute disproportionately to overall revenue, as seen from the top 5% (95th percentile) transactions.

â—½Sales activity is strongly time-dependent, with higher revenues observed during specific months (notably towards year-end) and peak purchasing hours during business hours.

â—½Weekdays generate higher average revenue than weekends, indicating stronger business-to-business or planned purchasing behavior.

â—½A small group of customers accounts for a large portion of total revenue, confirming the presence of high-value repeat customers.

â—½Most customers are one-time or low-frequency buyers, highlighting potential opportunities for customer retention strategies.

â—½Certain products dominate sales in terms of both quantity sold and revenue, while many products have relatively low sales frequency.

â—½Products sold across multiple countries tend to generate higher revenue, suggesting strong global demand for specific items.

â—½Order sizes are mostly small to medium, with large orders being less frequent but revenue-intensive.

â—½Data cleaning was critical: removing cancelled orders, returns, and invalid prices significantly improved the accuracy of revenue and customer analysis.